[2015-11-17 02:51] avioli opened #5 "Publish to NPM"

[2015-11-17 08:21] kvz commented on #5
Alright, @bhstahl :smile:

[2015-11-17 11:44] bhstahl commented on #5
Sorry @avioli @kvz , been slightly bogged down with other work projects but this will be ready soon!

[2015-11-17 15:00] bhstahl opened #6 "Finish FileStore class"
Following #10, the remaining tasks for [`FileStore`](https://github.com/tus/tus-node-server/blob/master/lib/stores/filestore.js) are:

- [ ] Create file (via creation extension)
- [ ] Store metadata (key-value pairs from `Upload-Metadata` header)
- [ ] Files must expire (via expiration extension)
- [ ] Delete file  (via termination extension)
- [ ] Accept chunks  (via concatenation extension)

[2015-11-17 15:04] bhstahl opened #7 "Finish POST Handler"
Abstract [`POST` handler](https://github.com/tus/tus-node-server/blob/9b5e90ead3972f66decf0dfa27eaf9d514251837/lib/tus.js#L50-L66) into its own component which] creates the file, following the DataStore interface (but only using local file store for now)

[2015-11-17 15:07] bhstahl opened #8 "Finish PATCH handler"
[`PatchHandler`](https://github.com/tus/tus-node-server/blob/master/lib/handlers/PatchHandler.js) needs to:

- [ ] writes chunks to file store

[2015-11-17 15:08] bhstahl opened #9 "Finish OPTIONS handler"
Abstract [`OPTIONS` handler](https://github.com/tus/tus-node-server/blob/9b5e90ead3972f66decf0dfa27eaf9d514251837/lib/tus.js#L160-L164) into its own component which:

- [x] Returns server's configuration

[2015-11-17 15:23] bhstahl opened #10 "Finish abstract DataStore class"
The [`DataStore`](https://github.com/tus/tus-node-server/blob/master/lib/stores/DataStore.js) defines the interface for storing files.

The local [`FileStore`](https://github.com/tus/tus-node-server/blob/master/lib/stores/FileStore.js) will implement it for storing the files on the server:

[code]

Then we can further build out AWS S3, GCS, etc:

[code]

[2015-11-18 02:43] #7 closed

[2015-11-18 03:47] bhstahl commented on #9
closed in c107000c3ab9da80ec1188025382517f4d4cfd28

[2015-11-18 03:47] #9 closed

[2015-11-18 17:14] bhstahl opened #11 "Finish HEAD handler"
[`HeadHandler`](https://github.com/tus/tus-node-server/blob/master/lib/handlers/HeadHandler.js) needs to:

- [ ] Return `Upload-Offset` or `404`, `410`, `403`

[2015-11-18 17:20] bhstahl commented on #5
@avioli I tagged the remaining tasks with the [1.0 NPM Publish](https://github.com/tus/tus-node-server/milestones/1.0%20NPM%20Publish) milestone to give you a rough timeline. Feel free to pitch in if you're so inclined!

[2015-11-19 00:01] avioli commented on #5
thanks

[2015-11-19 19:26] nodesocket opened #12 "Create S3DataStore"
We are looking at using tus-node-server for our file uploads. Excited to try it out. Happy to help out with a s3 storage backend plugin, can anybody give guidance on where to start?

[2015-11-19 19:30] nodesocket opened #13 "https support"
We will need https support. Though, maybe we can just use an `ELB` in front of two tus-node-servers to load balance and terminate SSL there.

[2015-11-19 19:33] kvz commented on #13
Does it have to be baked into the server itself? e.g. if you'd use an ssl terminator like haproxy/stunnel/nginx, you could run the tus server as a nonprivileged user (port > 1024), and also when the next heartbleed surfaces, that damage will be limited to the terminator - vs potentially leaking more sensitive data out of the tus process.

[2015-11-19 19:33] kvz commented on #13
(i did read somewhere that node currently has the best ssllabs score compared to any other ssl implementation - by default - so that certainly helps. just trying to get a sense of what's really required)

[2015-11-19 19:34] kvz commented on #12
Happy to hear! @bhstahl should be able to give you some pointers into this

[2015-11-19 19:55] nodesocket commented on #13
I think your right, for us, since we use Amazon AWS, using a ELB in front of two tus-node-servers in different regions makes sense. We can terminate SSL on the ELB.

[2015-11-19 21:23] bhstahl commented on #12
@nodesocket Awesome! Would love to have some help, and some input on the overall design of this.

My train of thought is having an abstract [DataStore](https://github.com/tus/tus-node-server/blob/master/lib/stores/DataStore.js), not tied to the server code, which defines an interface (that the server understands) and has methods to create the file, accept chunks, etc.

Then, each storage backend,

[2015-11-19 21:41] #13 closed

[2015-11-19 21:46] nodesocket commented on #12
Abstract DataStore makes sense. So would the s3 storage just implement `create()` which would push to s3 basically?

[2015-11-19 22:03] bhstahl commented on #12
Cool. I was thinking `create()` was for incoming [`POST` requests](http://tus.io/protocols/resumable-upload.html#post ), and doing the work of the [creation extension](https://github.com/tus/tus-node-server/blob/6c363db16b783122746620afa48bb8f3b436d301/lib/handlers/PostHandler.js#L39) and solely creating the file.

I haven't gotten to it yet, but am planning a `write()` method for incoming [`PATCH

[2016-03-09 13:22] ReverseFlash28 opened #16 "Implement to express"
How can I use this together with express?

[2016-03-09 13:29] kvz commented on #16
I think the goal of this project is to have a stand-alone server of tus, although it has been some time that work was done here, did anything change on your end @bhstahl?

In the meantime, I think getting the tus-middleware project to 1.0 would be best. For reference:

https://github.com/foobarable/tus-middleware/issues/1#issuecomment-194296099
https://github.com/tus/tus-android-client/issues/4#is

[2016-03-09 14:13] Acconut commented on #16
Actually, I believe it should already be possible to use tus-node-server with express. I haven't tested it thou:

[code]
[code]

[2016-03-09 16:21] bhstahl commented on #16
Correct! The server is designed work as a standalone, or to be used with any node web framework (Express, [Restify](http://restify.com/#common-handlers-serveruse)) that uses the [`IncomingMessage`](https://nodejs.org/api/http.html#http_class_http_incomingmessage) class of the [`http`](https://nodejs.org/api/http.html#http_http) module.

@kvz unfortunately our Q1 upload team roadmap got a bit hijac

[2016-03-09 18:12] kvz commented on #16
I stand corrected! And thanks for the update @bhstahl!

[2016-03-10 04:07] ReverseFlash28 commented on #16
@Acconut its not working :(

[2016-03-10 12:09] bhstahl commented on #16
@ReverseFlash28 sorry, but that may be due to this still being a work in progress (which is why I haven't published it to NPM yet). You may want to check out https://github.com/foobarable/tus-middleware in the meantime, or contribute to the development here as well!

What version of Express are you running?

[2016-03-10 12:13] ReverseFlash28 commented on #16
@bhstahl I already use that but it makes me error when my client in android

[2016-03-10 12:54] ReverseFlash28 opened #17 "502 Bad Gateway in AWS"
I already upload it in AWS but i got an error 502 Bad Gateway

[2016-03-10 19:57] Acconut commented on #16
@bhstahl The reason why @ReverseFlash28 cannot use tus-middleware is that it does not support tus 1.0 which is a requirement for tus-android-client.

What is not working? We need more information about what happened. Any errors?

[2016-03-11 04:33] ReverseFlash28 commented on #16
@Acconut your code

`const server = new tus.Server();
server.datastore = new tus.FileStore({
    path: '/files'
});

app.all('/files/*', server.handle);
app.listen(PORT, HOST);`

[2016-03-11 08:55] Acconut commented on #16
We cannot and will not help you if you don't provide us with details.
Showing us code and saying it doesn't work is not enough.
Am 11.03.2016 5:33 vorm. schrieb "Reverse Flash" <notifications@github.com>:

[2016-03-14 08:43] ReverseFlash28 commented on #16
this is the error

at Layer.handle [as handle_request] (/Users/username/Downloads/tus-node-server-master/node_modules/express/lib/router/layer.js:95:5)
    at next (/Users/username/Downloads/tus-node-server-master/node_modules/express/lib/router/route.js:131:13)
    at next (/Users/username/Downloads/tus-node-server-master/node_modules/express/lib/router/route.js:125:14)
    at next (/Users/userna

[2016-03-14 08:57] makoy21 commented on #16
@ReverseFlash28

Try this one

var app = express();
app.all('/files/*', function(req, res) {
    server.handle(req, res);
});
app.listen(port, host);

[2016-03-14 08:57] ReverseFlash28 commented on #16
ow thanks @makoy21 it's working! thanks.

[2016-03-14 08:58] #16 closed

[2016-03-14 15:48] Acconut commented on #16
@makoy21 Thank you for providing your help :smile:

[2016-03-21 11:16] makoy21 commented on #17
@ReverseFlash28
When uploading in AWS include the tus-server in your node-modules or if you use the eb deploy include in your gitigore this lines
!node_modules
node_modules/*
!node_modules/tus-server

[2016-03-29 09:17] ReverseFlash28 commented on #17
it works. thanks!

[2016-03-29 09:17] #17 closed

[2016-04-02 19:25] Acconut commented on #17
Thank you, @makoy21, for providing your help! :)

[2016-05-05 17:59] bhstahl opened #18 "Create GCSDataStore"
For using [Google Cloud Storage](https://cloud.google.com/storage/) as the file store.

[2016-05-05 19:59] #18 closed

[2016-05-05 22:14] #6 closed

[2016-05-05 22:14] #8 closed

[2016-05-05 22:14] #11 closed

[2016-05-06 06:22] kvz commented on #18
😍

[2016-05-06 13:48] #10 closed

[2016-05-07 08:49] kvz commented on #16
I think this might be useful to others so I just opened the PR to document this in our README https://github.com/tus/tus-node-server/pull/19

[2016-05-09 21:08] bhstahl opened #20 "Make GCSDataStore resumable"
The [GoogleCloudPlatform node library](https://github.com/GoogleCloudPlatform/gcloud-node) does not currently support resuming interrupted uploads. Once [#11](https://github.com/stephenplusplus/gcs-resumable-upload/issues/11) is completed, [`GCSDataStore.write()`](https://github.com/tus/tus-node-server/blob/58eed6145878d52e12a98f76c759ceead57e6765/lib/stores/GCSDataStore.js#L83-L110) can be amende

[2016-05-09 21:20] bhstahl commented on #5
Published!

[2016-05-09 21:20] #5 closed

[2016-05-10 06:05] kvz commented on #5
❤️

Sent from mobile, pardon the brevity.

[2016-05-17 21:41] terrischwartz opened #21 "HEAD response: upload-offset and upload-length"
Looking at the example resumable upload curl commands and the tus.io protocol spec: should the response have a upload-offset header giving the amount uploaded so far and an upload-length of the full file size from the initial POST?

[2016-05-17 22:11] bhstahl commented on #21
Gah, you're right. `DataStore#getOffset` should probably return the offset & length, so that it can be sent in the header. Looks like I'm currently sending the [length as the offset](https://github.com/tus/tus-node-server/blob/58c9f045bdc7ecf02b89043745b82a2dc7758eb1/lib/handlers/HeadHandler.js#L27-L27). Good catch @terrischwartz !

[2016-05-17 22:56] #21 closed

[2016-05-18 20:16] bhstahl opened #22 "https support"
Allow configuration in the server construction.

[`Server#listen`](https://github.com/tus/tus-node-server/blob/447ca52ad25eb26acc3ffad702a64cf42fefd49c/lib/Server.js#L94-L97) should use [`https.createServer`](https://nodejs.org/api/https.html#https_https_createserver_options_requestlistener), with the config passed in the tus construction

[code]

Also need to update [`PostHandler`](https://github

[2016-05-18 21:19] bhstahl opened #23 "FileStore creation extension metadata support"
JSON validate the `Upload-Metadata` header value, and save to configstore in [`FileStore.create`](https://github.com/tus/tus-node-server/blob/447ca52ad25eb26acc3ffad702a64cf42fefd49c/lib/stores/FileStore.js#L56)

[2016-05-19 07:40] mzygmunt opened #24 "GridFS support"
Hello,
I'm currently working on MongoDB and I need to upload some large files into DB. Is there a plan to support GridFS?

[2016-05-19 11:48] bhstahl commented on #24
Sure, why not!

[2016-05-19 12:30] bhstahl opened #25 "Allow for custom file names"
Implementations should be able to provide filename for `POST` requests, and only if it is not provided, it can default back to [`Uid`](https://github.com/tus/tus-node-server/blob/master/lib/models/Uid.js).

Thanks for the suggestion @js3692!

[2016-05-19 12:35] bhstahl opened #26 "Custom file directories for FileStore"
`path` and `directory` don't have to be the [same thing](https://github.com/tus/tus-node-server/blob/master/lib/stores/FileStore.js#L23) and in many cases shouldn't.

FileStore construction should be:

[code]

Thanks for the suggestion @js3692!

[2016-05-19 15:47] #20 closed

[2016-05-19 15:51] bhstahl opened #27 "GCSDataStore metadata get/set"
It appears you can't save metadata to an GCS object until the upload is complete. We need to figure out how to set/get `upload_length`, `upload_defer_length` from a GCS upload_id for `POST`/`HEAD` requests.

[2016-05-19 15:52] bhstahl opened #28 "Tests for GCSDataStore"
- [x] Individual method unit tests
- [x] End to end system tests?

[2016-05-19 15:55] bhstahl opened #29 "Get test coverage > 90%"
- [x] lib/stores/FileStore.js (currently **62.71**)
- [x] lib/handlers/PostHandler.js (currently **65.0**)
- [x] lib/handlers/HeadHandler.js (currently **77.78**)
- [x] lib/models/File.js (currently **85.71**)

[2016-05-19 18:39] js3692 commented on #26
You're welcome!

[2016-05-19 19:01] js3692 commented on #25
Great! I would love to help out with this one, if it wasn't already picked up.

My thoughts right now is to pass an options parameter to the `TusServer` instance:
[code]
And either override the File id or instantiate with a file name in the POST handler:
[code]

@bhstahl What are your thoughts?

[2016-05-19 19:03] js3692 commented on #27
@bhstahl Would creating a JSON file (sort of like the configstore implementation in FileStore) and saving it like [this](https://github.com/js3692/tus-node-server-js/blob/master/lib/stores/GCSDataStore.js#L135) in GCS be a good alternative?

[2016-05-19 22:10] #23 closed

[2016-05-19 22:21] bhstahl commented on #26
Oops this was done in the [initial commit](303e63115ae3b0413a974d4041e1d29c7f54facd), already supported :)

[code]

[2016-05-19 22:21] #26 closed

[2016-05-19 22:53] bhstahl commented on #25
Sure! Feel free to open a PR from your fork.

While your suggestion works well for express, it doesn't really make sense for a standalone server that isn't planning on intercepting every request.

 I wonder if it could be even simpler. You're going to have some sort of hashing function to generate the file name anyhow, right? What if `DataStore.create` takes the request instead of a `File`, then t

[2016-05-19 23:03] bhstahl commented on #27
Unfortunately that wouldn't be scalable beyond a single instance, using the `FileStore`, keeping the files & the JSON file on that particular box. If you're running multiple instances, say behind a load balancer, that JSON file could be anywhere. Not to mention race conditions on read/writes.

One of the many advantages of using an elastic file system like GCS or S3 (at least in the case of how we

[2016-05-20 12:42] js3692 commented on #25
Thanks for the comments! I'll open a PR soon.

Yes, I think your suggestion makes better sense for standalone servers to take the hashing function. It could also allow express to flexibly attach the file name to `req.filename` for example and in the `namingFunction` just `return req.filename`.

I've implemented the `Datastore.create()` to take in req, decide the file name, and create `File`. Pleas

[2016-05-20 12:52] js3692 commented on #27
Oh! Yes, I agree that beyond a single instance it will be impossible to keep track. What I meant was that since FileStore uses configstore to save the metadata as JSON locally, the GCSDataStore could do the same and save a separate JSON file to the cloud storage like FileStore does:
[code]

[2016-05-20 19:40] #29 closed

[2016-05-20 21:21] bhstahl commented on #27
Well, the intentions are different when you choose a DataStore. Choosing the FileStore means you would have to only be running one instance per host. Every request to a host will come to the same machine, which has the same file directory and config store.

Choosing an elastic datastore, like GCS or S3, means you're not relying on anything to be on the server's machine. Say, for example, the load

[2016-05-22 17:48] js3692 commented on #27
Thanks for explaining that! My point also was to persist everything on GCS (sorry if that wasn't clear) - when the POST request comes in with the metadata, the server will persist the data to GCS (see image below). This is an extra http cycle between the server and GCS, but I was wondering if it could be an alternative to the issue highlighted above.

<img width="1026" alt="screen shot 2016-05-22

[2016-05-23 12:09] bhstahl opened #31 "Errors/Rejections should be constants"
Errors should all be constants. Create an error constants object, then use it for

[promise rejections](https://github.com/tus/tus-node-server/blob/e6b4c006b3f20c39885d2591a062425e623877a7/lib/stores/DataStore.js#L57)
[code]

and [response writing](https://github.com/tus/tus-node-server/blob/e6b4c006b3f20c39885d2591a062425e623877a7/lib/handlers/PostHandler.js#L22)
[code]

[2016-05-23 18:44] #31 closed

[2016-05-23 22:18] bhstahl commented on #27
Ahh i see what you were saying @js3692. We can store metadata on the objects, and I actually just got it working, so no need for an extra file to store json 😄

[2016-05-23 22:18] #27 closed

[2016-05-23 22:20] bhstahl commented on #25
closed in https://github.com/tus/tus-node-server/pull/30

[2016-05-23 22:20] #25 closed

[2016-05-30 17:52] sirakoff opened #33 "File is never written."
File is never written in a vagrant box with shared folder.

[2016-05-30 22:11] sirakoff commented on #33
Sorry, it had something to do with nginx. Nginx is sending a `413 Request Entity Too Large response` at the very end of the upload. I have tried adjusting `client_max_body_size` in nginx.conf but its still happening.

[2016-05-31 04:45] kvz commented on #33
You will also have to use nginx 1.8 Or later and turn on request buffering or it will buffer the entire upload before handing it over to tusd which is very inefficient. If after this you still have problems you might want to consult the nginx community, or enable our concat extension which splits up large files into smaller ones, circumventing any limit a proxy might pose on file sizes. @acconut m

[2016-05-31 14:25] #28 closed

[2016-05-31 15:51] bhstahl opened #36 "GCSDataStore can't return 410 Gone when appropriate"
Once a file is deleted from GCS, there's currently knowing it once existed. Therefore, `GCSDataStore.getOffset()` can't return `ERRORS.FILE_NO_LONGER_EXISTS` when appropriate.

[2016-05-31 18:18] bhstahl opened #37 "Resuming PATCH requests override already uploaded GCS data"
In order to store the metadata from the `POST` request, a GCS object needs to be created, since the metadata isn't stored in a resumable URI. To fix that, [`GCSDataStore.create()`](https://github.com/tus/tus-node-server/blob/70ca0e2b0946ac7365f11e709624dff4bde53df3/lib/stores/GCSDataStore.js#L105-L107) pipes an empty stream to create an empty GCS object, containing the data.

If we maintain the GC

[2016-06-04 16:56] mhf-ir commented on #24
:+1:

[2016-06-21 07:57] sirakoff commented on #33
It worked after upgrading nginx to the latest version. Thanks!

[2016-06-21 09:46] bhstahl commented on #33
👍

[2016-06-21 09:46] #33 closed

[2016-06-21 10:36] sirakoff commented on #33
Pausing and resuming causes the upload to start all over.

[2016-06-21 10:52] kvz commented on #33
Did you turn request buffering off yet?

[2016-06-21 10:56] sirakoff commented on #33
Yes, `proxy_request_buffering off;` right?

[2016-06-21 11:02] kvz commented on #33
Yes, there's a few things you want to make sure of such as

[code]

[2016-07-26 11:33] feluna opened #38 "CORS Enable Headers"
Hi, my implementation was failing due to missing headers in response. File uploads were not resuming. I inspected the http://tus.io/demo.html network requests and noticed this header, which was missing in my node server's responses:

`'Access-Control-Expose-Headers' : 'Upload-Offset, Location, Upload-Length, Tus-Version, Tus-Resumable, Tus-Max-Size, Tus-Extension, Upload-Metadata'`

I examined the

[2016-07-27 09:27] aburger opened #39 "unable to start, syntax"
hi there,

i am new with node.js as with tus, i tried to start an example und run in one problem after the other. first your examples are with const, but the code i got wit npm install uses strict and so const does not work. there are even module in the installbase with const.

then:
npm run example

[nodemon] 1.10.0
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
[nodemon] st

[2016-07-27 14:20] Acconut commented on #39
It seems like you are using an older version of Node.js which does not support the newer ES2016 syntax. We recommend using, at least, Node.js 4.2.X for full support. Please try this approach.

[2016-07-27 14:40] aburger commented on #39
Am 27.07.2016 um 16:20 schrieb Marius:

thanks.
is there a way to use the distros npm but with newer source?

best regards
andreas

--

[2016-07-27 14:57] Acconut commented on #39
It's generally recommended to use a version manager for Node, such as nvm (https://github.com/creationix/nvm) or n (https://github.com/tj/n).

[2016-07-28 11:29] bhstahl commented on #38
Ah yes. A fix could be similar to `'Access-Control-Allow-Headers'` in the [OptionsHandler.js](https://github.com/tus/tus-node-server/blob/8fd4f5b8cd7b4c7be73eeb9caaf6708abcf4cf33/lib/handlers/OptionsHandler.js#L22).

I can submit a patch, unless you have a pull request ready to go?

Thanks @feluna !

[2016-07-28 11:31] feluna commented on #38
You can submit a patch, thank you as well.

[2016-07-29 14:29] #38 closed

[2016-07-29 14:31] bhstahl commented on #38
@feluna if you update to [tus-node-server@0.1.1](https://www.npmjs.com/package/tus-node-server) you should be good to go 👍

[2016-08-01 14:47] cometta opened #40 "hook when file uploaded"
anyway to do a callback after a file is completed uploaded ? let say there is a need to write a record to database once file is successfully uploaded

[2016-08-01 14:59] bhstahl commented on #40
Absolutely @cometta. Its on my list to add something similar to [tusd's hooks](https://github.com/tus/tusd/blob/master/.hooks/post-finish). A node EventEmitter style implementation could be:

[code]
Very open to you thoughts though, and PR's more than welcome!

[2016-08-04 14:27] aburger commented on #39
it works with the new version via git, thanks

[2016-08-04 14:27] #39 closed

[2016-08-04 14:37] aburger opened #41 "systemd or systemv-init"
hi there,

i got the tus-server running by starting ist by hand, but i would like to start it up automatically.

as i am on centos 7 i still could use initv-scripts, but also systemd-manifests. both did not work as i thought.

i have a server.js in /usr/local/tus-node-server/hest
so starting by hand is:  npm run hest

in the startscript i tried without and with cd to /usr/local/tus-node-server, bu

[2016-08-04 14:52] bhstahl commented on #41
Hey Andres,

From that error message, it looks like your implementation is relying on `nodemon` to run `hest/server.js`, but it isn't installed and/or isn't in your path on that box.

 As an alternative, you could use docker to run your server. Here is an example: [bhstahl/tus-node-deploy](https://github.com/bhstahl/tus-node-deploy)

[2016-08-04 15:00] aburger commented on #41
Am 04.08.2016 um 16:53 schrieb Ben Stahl:

hi there,

as i can start it manually, that is not possible.
nodemon seems to be used by tus-node-server.

and i echo the PATH and nodemon is in this ....

here is my server.js:

'use strict';

const tus = require('../index');
const path = require('path');

const server = new tus.Server();

const data_store = process.env.DATA_STORE || 'FileStore';

switch

[2016-08-04 15:04] aburger commented on #41
Am 04.08.2016 um 16:53 schrieb Ben Stahl:

btw its your package.json which use nodemon for starting simple tus-nodes.

is there a way to get rid of that?

--

[2016-08-04 15:16] bhstahl commented on #41
@aburger Ah, [`nodemon`](https://github.com/remy/nodemon) is just for local development (auto-restarting the node process when files change). I can update the README to explain that, and change `example` to `development` to avoid any confusion.

Try replacing nodemon that with `node hest/server.js` and let me know if that resolves it?

If you use docker, a startscript similar to this should do the

[2016-08-05 08:03] aburger commented on #41
Am 04.08.2016 um 17:16 schrieb Ben Stahl:

hi there,

if i start it like you wrote manually in the path, it works, if i add a
systemd-manifest, i got an error with the path.
in server.js i have a path for server.datastore
but this seems to be interpretet relativ, not absolut. but relativ to what?

regards
andreas

--

[2016-08-05 12:50] aburger commented on #41
so now it work. have to figure out, why it does not work as non-root, could be some rights-issue, but in general that solves my issue.
my manifest down

regards
andreas

[Unit]
Description=tus-node

[Service]
Environment=NODE_PATH=/usr/local/lib/node_modules
ExecStartPre=cd /usr/local/tus-node-server
ExecStartPre=pwd
ExecStart=/usr/local/bin/node /usr/local/tus-node-server/hest/server.js
Restart=a

[2016-08-05 12:50] #41 closed

[2016-08-09 08:11] kvz commented on #41
Thanks for sharing that systemd snippet @aburger! :+1: I do have to stress that running as root is a big concern so I hope you can figure out that permission issues! Are you perhaps opening a port < 1024?

[2016-08-11 12:50] davidgourde opened #42 "HeadHandler missing Access-Control-Expose-Headers header"
I start uploading a large file of 1GB and let it upload around halfway before closing the tab (Chrome). I open the page again and start to upload the same file. I always receive this message:
[code]
The error in the console is:
`upload.js:257 Refused to get unsafe header "Upload-Offset"xhr.onload @ upload.js:257`

I am using tus-js-client to test this (the demo) and it works perfectly fine with tu

[2016-08-11 14:25] bhstahl commented on #42
Whoops, that's what you get for building it by making requests from bash instead of a browser. The `HEAD` responses are missing the [`Access-Control-Expose-Headers`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Expose-Headers) to whitelist the `Upload-Offset` header. Will add it!

[2016-08-12 00:20] jasonhenderson commented on #22
I did not see this implemented. Is this something we could try out?

[2016-08-12 07:17] kvz commented on #22
Initially I wasn't an absolute 💯  on this for reasons mentioned in https://github.com/tus/tus-node-server/issues/13#issuecomment-158169623:

That being said, I do also see the convenience this could offer. Not having deployed TLS in Node myself before, does anyone know how you'd make it open port 443 as a non-root user? Or is it required to do sth along the lines of a `setuid` to switch to a non-p

[2016-08-15 13:04] krampampuli commented on #38
Hi, I'm using 0.1.1, but still had to include the extra line from the original post to make the missing header part appear and the file uploads resume.

[2016-08-16 12:48] davidgourde commented on #42
I am unsure that this is the problem. The response for `HEAD `is
[code]
but the response for `OPTIONS `is:
[code]

And I see that in the response headers:
[code]
`Upload-Offset` is in the list. Unless I am not analyzing the problem correctly (I'm new to all of this).

[2016-08-16 14:39] charleston10 commented on #40
I also need

[2016-08-16 18:34] jasonhenderson commented on #22
@kvz thanks for the reply. I will probably give the ssl terminator solution a try. Initially I had some reasons to avoid this approach, but after giving it some thought, it should work just fine.

[2016-08-16 20:01] bhstahl commented on #42
Added in e38cb91e1556d4ee1e5a756a8780d84fc4b1b824. @davidgourde if you update to [tus-node-server@0.1.2](https://www.npmjs.com/package/tus-node-server) you should be good to go!

[2016-08-16 20:01] #42 closed

[2016-08-16 20:02] bhstahl commented on #38
@krampampuli I realized a case where it wouldn't be added to the `HEAD` request, which is fixed in [tus-node-server@0.1.2](https://www.npmjs.com/package/tus-node-server). Let me know if you have any trouble after upgrading!

[2016-08-16 22:39] krampampuli commented on #38
After upgrade it gives "405 Method Not Allowed: The requested method PATCH is not allowed for the URL /null."

Exposed headers seem to miss Location, i.e., it should be added to const HEADERS in constants.js

Thanks!

[2016-08-17 07:40] davidgourde commented on #42
I suppose there are other missing Access-Control-Expose-Headers, as I now get this message when resuming an upload with `tus-js-client`:
[code]

[2016-08-17 09:33] davidgourde opened #43 "Missing Access-Control-Expose-Headers header for "Location""
I start uploading a large file of 1GB and let it upload around halfway before closing the tab (Chrome). I open the page again and start to upload the same file. I always receive this message:
[code]

I am using `tus-js-client` to test this (the demo) and it works perfectly fine with `tusd` (in Go). This problem only occurs with `tus-node-server`.

My server is only a copy paste of the Quick Start

[2016-08-17 14:06] #43 closed

[2016-08-17 14:10] bhstahl commented on #38
@krampampuli thanks for your help. `Location` is added in [tus-node-server@0.1.3](https://www.npmjs.com/package/tus-node-server).

Not sure I'm following how `PATCH` isn't allowed, since it is included in the `Access-Control-Allow-Methods` of `OPTIONS` request. Would you mind opening up a separate ticket with detailed steps to replicate?

[2016-08-17 14:10] bhstahl commented on #43
Thanks for your help @davidgourde, added in [tus-node-server@0.1.3](https://www.npmjs.com/package/tus-node-server).

[2016-08-17 16:02] krampampuli commented on #38
Since there was no Location info, the URL for PATCH was null. That was the actual error.
Now everything seems to be OK, thank you!

[2016-08-17 20:47] #40 closed

[2016-08-17 20:50] bhstahl commented on #40
@cometta @charleston10 [Event hooks](https://github.com/tus/tus-node-server#event-hooks) have been added in [tus-node-server@0.2.0](https://www.npmjs.com/package/tus-node-server)!

[2016-08-18 14:33] cometta commented on #40
Hello @bhstahl ,
 How to get event.file.upload_length  and event.file.upload_metadata  ? I can't get those value from event .

[2016-08-18 14:50] davidgourde opened #46 "Files are uploaded with an ID instead of a name, how do I know the name/url to list/download?"
As the topic says, the files uploaded with `tus-node-server` are saved on the server side using an ID as the fileName. But I need to list the files that are on the server and let the user download them (not only list the new uploads, but list all uploaded files). Is there a way to get the list of files on the server, including their name and url?

Thank you.

[2016-08-18 15:01] bhstahl commented on #46
@davidgourde You could create a get handler on you implementation that could do it. Something like

[code]

I'll add some documentation in the README for [get handlers](https://github.com/tus/tus-node-server/blob/938ee0f2107250d022cf9fd9a8a9c2614b01cb39/lib/Server.js#L90-L101). Will that work?

We might need to add regex path support for the url's though so you could do

[code]

Feel free to open

[2016-08-18 15:03] bhstahl commented on #40
@cometta for which event and datastore? Can you open a separate issue detailing the steps to  replicate your outcome?

Also, feel free to fork this repo, work on a fix  and submit a PR if you know what's happening!

[2016-08-18 15:31] davidgourde commented on #46
Hi, thank you for the answer, but I am not sure of how the FileStore works. I am using the QuickStart example under "build a standalone server yourself". All I get in the files directory is the files with the ID as their name. I am unsure of where is the list of files the FileStore is using and how to read it to list the files with their names and url. Sorry if this is obvious, but I cannot seem t

[2016-08-18 23:29] cometta opened #47 "server hook get metadata"
server.on(EVENTS.EVENT_UPLOAD_COMPLETE, (event) => {
    console.log(event.file.upload_length);
   console.log(event.file.upload_metadata );
});

How to get event.file.upload_length and event.file.upload_metadata ? I can't get those value from event  hook complete. Possible to get my req.get(..) from event ?

[2016-08-22 15:58] tameribrahim commented on #46
I have the same issue, using the express middleware! The problem I can't find the real filename anywhere!
Model : File class is
[code]
Uploaded files named with the file_id with no extension!!!

[2016-08-22 20:25] bhstahl commented on #46
@davidgourde @tameribrahim  I would take a look at how the node [`fs` module](https://nodejs.org/api/fs.html) works, as that might be useful for your application and/or tus implementation.  That said, here's how you could make a custom route on your tus server which would list all files that have been uploaded to your server.

[code]

Then, navigate to http://127.0.0.1:8000/uploads to see that jso

[2016-08-22 20:25] #46 closed

[2016-08-24 00:32] stevewillard opened #48 "HTTP assumed as part of POST response"
Is there any particular reason why the POST handler includes 'http://' as part of it's response?
[code]

Can this be changed to:
[code]

I'm running into a scenario where a POST is issued over HTTPS, and then the subsequent PATCH is over HTTP because of this.

[2016-08-24 11:04] aburger commented on #41
On 09.08.2016 10:11, Kevin van Zonneveld wrote:

hi there,

sorry for the delay.
i chowned the files and changed the user in the manifest.

additionally, i added a preexec which mounts the targetpath.

regards
andreas
--

Andreas Burger
Stampfenbachstr 32
ch-8006 Zuerich
andreas@andreasburger.org

[2016-08-24 12:54] bhstahl commented on #48
Hey @stevewillard, thanks for submitting the PR. It was mostly because the server alone doesn't fully support https (#22). I'm assuming you have an ssl terminator in front of it?

[2016-08-24 13:20] stevewillard commented on #48
Yes, that's right. For what it's worth, I have this changed running in production behind an ELB and it seems to work.

[2016-08-25 07:49] davidgourde commented on #46
Thanks a lot for the informations.

[2016-08-25 07:51] kvz commented on #46
Please be careful using filenames for storage though, there's a reason why hashes are used. More was given in a similar question in https://github.com/tus/tusd/issues/60#issuecomment-241972080

[2016-08-26 17:11] tameribrahim opened #50 "`EVENT_UPLOAD_COMPLETE` not fired if file is chunked"
When the uploaded file size is less than the chunksize, the event handler 'EVENT_UPLOAD_COMPLETE' happens.
But if the file size is bigger, nothing happens!
The other 2 handlers are working fine in both scenarios!

[2016-08-26 18:45] tameribrahim commented on #50
Console output for the working scenario
[code]
And here is the console output for the other one (File uploaded in chunks)
[code]
As you can see, the event doesn't happen and the upload complete message doesn't show up.

[2016-08-30 08:55] cometta commented on #47
Hi @bhstahl , let me know if you need more info on this.

[2016-08-30 14:11] bhstahl commented on #47
Thanks @cometta, that should suffice. I'm a bit tied up at the moment with a few other projects, but i'll try to take a look soon. If you have any ideas, feel free to fork, fix and submit a PR with the patch!

[2016-08-30 14:13] #50 closed

[2016-08-30 14:29] #48 closed

[2016-08-30 14:29] bhstahl commented on #22
Closing per conversation above

[2016-08-30 14:29] #22 closed

[2016-08-30 18:31] alolis opened #52 "Question about purging expired files"
Hello,

I am not sure if this has been answered/addressed already, but I couldn't find anything related. I am using the `FileStore` datastore, and I was wondering what is the recommended way (or if there is already a mechanism in place) to auto-purge expired files in order to not consume disk space.

Thank you for your time.

[2016-08-31 12:08] bhstahl commented on #52
Hey @alolis the tus protocol includes an [Expiration](http://tus.io/protocols/resumable-upload.html#expiration) extension, however that only pertains to unfinished uploads. Since disk space management is not on the responsibility of the upload protocol, there is nothing built into tus-node-server to do that.

That said, I'm happy to help you out. Typically, the best way to do it is monitor the dis

[2016-08-31 12:35] alolis commented on #52
@bhstahl , thanks for your reply. I am planning to persist the files on this box.

I also have a second questions while we are at it. Does the FileStore path must be the same as the one used for the express middleware? In other words, can I do the following?

[code]

[2016-08-31 13:35] alolis opened #53 "Maybe an EVENT_UPLOAD_ALREADY_EXISTS when re-uploading same file?"
Hi (again).

If I upload a file and then try to re-upload it, the `EVENT_UPLOAD_COMPLETE` is not firing. I assume this is by design, but it would be nice to know if the file is already there with some other event, like `EVENT_UPLOAD_ALREADY_EXISTS` in order to handle it or re-firing `EVENT_UPLOAD_COMPLETE` might also be just fine as well.

[2016-08-31 14:15] alolis commented on #47
I also agree that this is very useful

[2016-08-31 18:23] alolis commented on #47
@bhstahl , if you have time please do check the reference above as well with some related thoughts.

I noticed that you use `configstore` and store info related with the uploaded files in a `json` file so one possibility would be to attach the `metadata` as well and have it available during the completion event. I agree this might not be the best idea but the alternative is everybody to do their o

[2016-09-01 09:05] alolis commented on #47
OK, there seems to be some confusion here. The metadata *are* attached to the event and are available when the `EVENT_UPLOAD_COMPLETE` triggers...

`FileStore` uses [configstore](https://www.npmjs.com/package/configstore) underneath which saves everything inside a `json` file. It would be nice to be able to pass an adapter to the `FileStore` which and store the data to different locations (e.g. Re

[2016-09-01 10:59] alolis commented on #47
@cometta , maybe this will help out a bit (it's ES6 syntax by the way):

[code]

[2016-09-01 12:34] cometta commented on #47
Hello @alolis
 try this console.log(event.file.upload_metadata ) //    output:  undefined

[2016-09-01 12:58] alolis commented on #47
@cometta , are you using the `metadata` object key on your [tus client](https://github.com/tus/tus-js-client#tusdefaultoptions)?

If you do not sent anything from the client then `upload_metadata` will be empty.

[2016-09-01 13:43] cometta commented on #47
@alolis

on the client

[code]

in the serverside
[code]

[code]

[2016-09-01 14:03] alolis commented on #47
@cometta, not sure what the problem might be. Seems to be working on my side with `tus-js-client` version `1.2.1` and `tus-node-server` version `0.2.1`.

[2016-09-26 11:19] vanilla38 opened #54 "Custom configstore file path"
Hello, I dont really know how to get more infos about tus FileStore object options so I ask here, is there a way to set a custom location and name for the configstore file ?
Thank yo uby advance and sorry for using this issue tracker to do that.

Have a great day ;)

[2016-09-26 21:57] bhstahl commented on #54
Hey @vanilla38, take a look at [Custom File Names](https://github.com/tus/tus-node-server#custom-file-names) in the Readme. You just need to write a function that returns the file names and pass it in for the `namingFunction` property of the `DataStore` constructor. Let me know if you have any trouble.

[2016-09-26 22:50] vanilla38 commented on #54
Hey, thanks for the quick answer, you probably misunderstood my question, what I ask for is a way to set a custom Configstore db json file location, I mean the json DB file. Thanks.

[2016-09-27 14:43] bhstahl commented on #54
Whoops, sorry I misread @vanilla38 . According to the [`configstore`](https://www.npmjs.com/package/configstore) package we can [set a path](https://www.npmjs.com/package/configstore#globalconfigpath) in the constructor. We'll just need to add handling of a  [FileStore](https://github.com/tus/tus-node-server/blob/5943566baaadb7db3cdd8a37a3c6984ea82066ca/lib/stores/FileStore.js#L29) options paramet

[2016-10-27 10:14] faridv opened #56 "Error: Cannot find module 'google-cloud'"
I can't run the server, nor demo files. I keep getting `Error: Cannot find module 'google-cloud'` from node.
Is there any workaround? Am I doing something wrong?

[2016-10-27 10:15] kvz commented on #56
Refs https://github.com/tus/tusd/issues/68#issuecomment-256585287

Did you run npm install first?

If yes, might you happen to have a trace and/or more information regarding the conditions in which this error was triggered?

[2016-10-27 10:31] faridv commented on #56
@kvz Install fails with following error:
`
node-pre-gyp ERR! Tried to download: https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v0.15.0/node-v48-win32-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@0.15.0 and node@6.6.0 (node-v48 ABI) (falling back to source compile with node-gyp)
`

[2016-11-01 11:14] bhstahl commented on #56
Hey @faridv, are you by any chance running this on windows? Would you mind trying `npm install --no-optional`?

[2016-11-09 01:16] joshbeal opened #57 "GSC Datastore does not support "contentType" property"
There should be a way to set contentType on the uploaded object as such...

  var stream = file.createWriteStream({
    metadata: {
      contentType: <mimetype>
    }
  });

[2016-11-10 23:06] alolis commented on #56
I am experiencing the same problem after i upgraded to node `6.9.1`. I removed my node_modules and re-installed everything with `npm install` but no luck

[2016-11-14 20:21] MonsieurLanza commented on #56
Same compilation issues here. Arch Linux up to date.

[2016-11-14 20:26] Acconut commented on #56
While not being a proper workaround, you should me able to manually clone the repository into the node_modules folder and then install the few required dependencies manually (https://github.com/tus/tus-node-server/blob/master/package.json#L55).

[2016-11-14 21:14] MonsieurLanza commented on #56
Thanks.
I forked and stripped all DataStore stuff except local file storage.
What bothers me is I will need to rely on npm for deployment. It would be great to ship external DataStores in separate packages, IMHO.
The DataStore switching is really great, but somewhat overkill when all you need is local storage.

[2016-11-14 21:25] MonsieurLanza commented on #56
By the way, here is a full log of what's happening. gprc dependency is failing to install. Compiles but link fails.

[code]

[2016-11-17 12:22] bhstahl commented on #56
Totally understand @MonsieurLanza and agree, I would be open to breaking the DataStore's out if others agree as well? I approached this with the intent to make it as easy as possible to get up and running quickly.

[2016-11-17 12:32] bhstahl commented on #57
Hey @joshbeal, what is passed through in the `Upload Metadata` header ([`as per the protocol`](https://tus.io/protocols/resumable-upload.html#upload-metadata)) is [set on the GCS Object](https://github.com/tus/tus-node-server/blob/be1e716f26945ef4bf8abb8d546a456fa356efa2/lib/stores/GCSDataStore.js#L100).

Will that suffice for your usage? If not, feel free to send over a PR with some code to discu

[2016-11-17 12:40] bhstahl opened #59 "Consider server and browsers with creation url"
Right now the creation extension [omit's thee protocol](https://github.com/tus/tus-node-server/blob/be1e716f26945ef4bf8abb8d546a456fa356efa2/lib/handlers/PostHandler.js#L18) from a created url, which can cause some issues using tus-js-client server side (https://github.com/tus/tus-java-client/issues/10#issuecomment-258384118). We should consider a new approach that works in the browser and server

[2016-11-17 14:36] mikeolasz opened #60 "Is there a way to detect changes in a file when uploading is on pause"
What I'm trying to find out is if tus server could tell the client to re-upload or just patch that certain difference. My test situation was that I started to upload a text file until around 50% or so, stopped the uploading, changed the text on the beginning then resumed the process. Of course changing the text at the end was OK but it didn't synced the differences on the beginning of the text fil

[2016-11-25 01:33] edwar64896 commented on #57
I'm noticing that when completing an upload using a GCS datastore, that there is no metadata passed to the completion event at all. metadata: {} is all I see. any idea if this is related?

[2016-11-25 01:36] edwar64896 commented on #47
I'm seeing this too. If I change to a FileStore on the back end, the metadata comes across. If I use GCS datastore, I can't see anything. Metadata is only sent (or visible) on the File Creation event.

[2016-12-03 18:02] Acconut commented on #59
tusd will derive the protocol from the request (https://github.com/tus/tusd/blob/master/unrouted_handler.go#L633-L637). Later this value may be overwritten by the X-Forwarded-Proto header (https://github.com/tus/tusd/blob/master/unrouted_handler.go#L645-L647) which is commonly used by proxies. A similar approach may be useful tus-node-server.

[2016-12-09 12:06] bhstahl commented on #59
Like that option @Acconut, we'll follow suit

[2016-12-23 08:46] psi-4ward opened #61 "Split into single packages"
Hi,
I cant use tus-node-server because `google-gax` raises compile errors.
But the case is, I don't need any store (or rather implement my own) so it would be really good to split it up into single packages:

* tus-server
* tus-server-store-fs
* tus-server-store-google
* tus-server-store-gridfs
etc...

[2016-12-23 09:24] psi-4ward opened #62 "Allow setting custom paths for the configstore"
Storing Metadata in `~/.config/configstore` is rather impractical.
You should at least provide an option to set the path.

[2016-12-23 14:02] bhstahl commented on #62
Completely agree. Feel free to open a PR with that option!

[2016-12-23 14:03] bhstahl commented on #61
I've been thinking about doing this but haven't had the need yet. I'm all for it!

[2017-01-10 09:50] Ivan-Feofanov opened #63 "How can i get original filename?"
Hi all.
How can i get original filename?
In file object i get only
`{ file:
   File {
     id: '-',
     upload_length: '3957145',
     upload_defer_length: undefined,
     upload_metadata: undefined } }
`

[2017-01-10 10:54] Ivan-Feofanov commented on #63
Okay, i find something like solution
[code]
It may have an easier way?

[2017-01-10 11:43] bhstahl commented on #63
Hey @Ivan-Feofanov, correct. The easiest way could be to require the original file name to be passed as [upload metadata](http://tus.io/protocols/resumable-upload.html#upload-metadata).

[2017-01-10 11:43] #63 closed

[2017-02-07 14:40] tolgaakyuz commented on #12
I'm also happened to be in a need for `s3datastore` at work. I'm currently working on an implementation, and would be happy to get it merged. if you guys have any concern or want me to address something, please let me know.

[2017-02-13 20:58] simonspoerri opened #66 "Node 7.x support"
I was not able to install tus-node-server using node 7.4.0. I received the following errors:

node-pre-gyp ERR! Tried to download: https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v0.15.0/node-v51-darwin-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@0.15.0 and node@7.4.0 (node-v51 ABI) (falling back to source compile with node-gyp)

and building it failed too

[2017-02-16 12:04] bhstahl commented on #66
Hey @simonspoerri I don't think we should ever jump past the LTS version. When they upgrade it from `6.9.5` to > 7, I'm more than happy to go for it.

[2017-02-22 00:02] anonimousse12345 commented on #12
@tolgaakyuz Found this if it's any use?
https://github.com/blockai/s3-tus-store

 Haven't tested yet and don't know enough about Tus to know if it's a good implementation or not

[2017-02-23 12:14] bhstahl commented on #12
Great! This works well with #61 actually. We can split `GCSDataStore` out into its own package as well. I can take a crack at that unless anyone else has a jump on it.

[2017-03-02 10:34] doubliez commented on #66
The build fails on Node 7.x because of the outdated google-cloud dependency.

Upgrading it to `google-cloud@^0.47.0` fixed the issue for me. I don't use Google Cloud so I didn't check if this breaks the Google Cloud data store.

Would be nice if you could push a fix though, because I have a fork just for that currently. Downgrading to Node 6.x is not an option for me.

I'm also looking forward to

[2017-03-04 20:15] bhstahl commented on #61
Kicking off this ticket with:

- [tus-datastore-abstract](https://www.npmjs.com/package/tus-datastore-abstract)
- [tus-datastore-filesystem](https://www.npmjs.com/package/tus-datastore-filesystem)
- [tus-datastore-gcs](https://www.npmjs.com/package/tus-datastore-gcs)

[2017-03-13 11:47] bhstahl opened #68 "Events & Errors should be implemented in the handler instead of DataStore's"
Currently, events like the `EVENT_FILE_CREATED` are emitted from the DataStore level ([like so](https://github.com/tus/tus-node-server/blob/7f7b9b8dc5aaddc672b1488199023e8a65b4de0f/lib/stores/DataStore.js#L65)), and Error's that include response information are thrown from the DataStore level as well ([like so](https://github.com/tus/tus-node-server/blob/7f7b9b8dc5aaddc672b1488199023e8a65b4de0f/li

[2017-03-13 11:55] bhstahl opened #69 "Extract out each DataStore to separate npm modules"
Users should be able to choose their appropriate DataStore, and not deal with all stores. Right now all stores are included in this module, which causes issues such as #56 and #54.

This will serve as a progress issue, leading to the closing of #61.

- [ ] [tus-datastore-abstract](https://www.npmjs.com/package/tus-datastore-abstract)
- [ ] [tus-datastore-filesystem](https://www.npmjs.com/package/t

[2017-04-14 23:32] ThomasG77 commented on #68
I've seen your last commit https://github.com/tus/tus-node-server/commit/faf40f0cc87bffc3b4ffe1632d2aadcee9537f26 and I'm wondering why we can't access to the `req` and `resp` when event like `EVENT_FILE_CREATED` are fired.

My use case explaining my suggestion:

I'm using the server with Express. I have an authentication with a JWT token where I have a user_id.
For this purpose, I have a header `

[2017-05-15 11:26] mohsininayatkhan opened #70 "FTP DataSource"
Hello,
Is there any plans to support FTP as data source so files can be uploaded directly from FTP?

[2017-05-19 11:38] bhstahl commented on #70
Hey @mohsininayatkhan, there aren't any plans as FTP is an upload protocol itself. You could run a server that supports FTP in parallel to a tus server?

Feel free to submit a proof of concept pull request if you have a different idea though.

[2017-05-26 02:32] nfriedly opened #71 "Google Cloud Storage issues"
Hi, I'm trying to use tus-node-server & tus-js-client for resumable uploads to Google Gloud Storage,

First up, some context: as I understand it, the `chunkSize` must be set to lower than the file size in order for it to actually be "resumable", otherwise it just starts over at the beginning after any pause/interruption. So the default size of `Infinity` on tus-js-client seems like a poor choice g

[2017-06-15 21:17] ThomasG77 commented on #62
In fact, "Allow setting custom paths for the configstore" is about changing `configstore` with another solution. To quote [configstore package](https://www.npmjs.com/package/configstore),

If you don't want the default path, just don't use `configstore` package.
I will try to come back with a more solution oriented comment soon.

[2017-06-22 11:28] kvz commented on #62
Perhaps https://www.npmjs.com/package/rc is helpful here?

[2017-07-11 10:39] rictorres commented on #12
anyone working on this? i'm implementing this internally here @mycujoo, could send a PR after it's tested in production 😅

[2017-07-11 11:18] bhstahl commented on #12
That would be great @rictorres ! I started working on #69 as well a while back but got a bit busy with things. If you're interested, that would be a huge help.

[2017-07-11 11:29] kvz commented on #69
FWIF, for uppy.io we're considering https://lernajs.io/, so that we get to keep all code in one repo, but push out separate npm modules. advantages:

- easy to change structure across all modules while the project is still young, and propose those as a single pr/atomic unit
- one issue tracker
- share ci/testing boilerplate, build tools, etc without the need for duplication or (leaky) abstraction

[2017-07-27 17:35] rictorres commented on #12
hey!

so, initial implementation is available at https://github.com/mycujoo/tus-node-server/pull/2
i'm gonna continue working on this so a fully working PR can be sent to this repo :)

let me know your thoughts, any feedback will be much appreciated ;)

/cc @bhstahl

[2017-09-06 04:59] CanRau opened #72 "split upload directories"
hey guys..like the idea of tus and resumable uploads because connections are really sluggish here in
 perú at times..even wired connections 👍  even though at least the node server looks a little abandoned at the moment?!

am i correct that it used to support koa.js? does it still? and what version?

now to the topic, i'm splitting my upload directory in incremented folders [1, 2, 3, ...] to reduce

[2017-09-07 08:30] Acconut commented on #72
Thank you, that's always nice to hear :)

I cannot say that for sure, since I am no Koa user on my own, but tus-node-server can be used as an Express middleware (https://github.com/tus/tus-node-server#use-tus-node-server-as-express-middleware) which can also be plugged into Koa using https://github.com/vkurchatkin/koa-connect. I haven't tried it personally but it may be worth a shot.

Just out of

[2017-09-08 08:36] CanRau commented on #72
yap ookay..sounds all valid :D am going to check out koa-connect thanks for that! for now i'm fine having it separately listening..

actually just because processwire php cms is offering it...i read a little about inodes and the app is supposed to store many files as it's a media library used by multiple people (i know, it's not yet facebook and might never be...^^), and maybe because i'm over opt

[2017-09-09 10:31] Acconut commented on #72
Sounds good :) I am going to close this issue now as it seems your questions are answered. Feel free to open a new issues if further problems arise.

[2017-09-09 10:31] #72 closed

[2017-10-05 14:54] mass85 opened #74 "EVENT_UPLOAD_COMPLETE emitted before file is flushed"
I am under impression that EVENT_UPLOAD_COMPLETE is emitted before the uploaded file is properly stored in file system, because fs.readFile gets me frequently (and randomly) not all data from uploaded file. However when I read this file later, I get all data so there must be lack of synchronization.

Probably this https://github.com/tus/tus-node-server/blob/5943566baaadb7db3cdd8a37a3c6984ea82066ca

[2017-10-06 12:37] bhstahl commented on #74
Thanks for using tus and submitting this @mass85. If you want to submit a pull request proposing the change (and further implications to requests) I'd be happy to take a look

[2017-10-16 11:07] lostpebble opened #76 "Using path with Google Cloud Storage doesn't work"
So I've set up a tus server using the Google Cloud datastore like so:

[code]

It manages to get my credentials automatically because I'm using the GCloud SDK, which is great.

But, after making an upload I have noticed that all files are being saved into the root directory of the bucket, and not inside the subfolder / path I have defined as `/admin-tus-uploads`.

Am I doing something wrong? Is th

[2017-10-16 11:59] bhstahl commented on #76
hey @lostpebble, `/path` is actually just the path on your server for `POST` requests.

The file created in [GCSDataStore.js](https://github.com/tus/tus-node-server/blob/104aa6b589a9df35ae142df3b235536f1833c89d/lib/stores/GCSDataStore.js#L94) is indeed in the root of the bucket. Feel free to submit a pull request adding that as an configurable option if you'd like?

[2017-10-16 12:06] lostpebble commented on #76
@bhstahl ah, okay. Sure, I'll look into it more as my requirements need it. I think for now I'll make due with the root folder just to get things up and running.

[2017-10-16 12:13] bhstahl commented on #76
Great, closing until there is a call to action.

[2017-10-16 12:13] #76 closed

[2017-10-20 10:16] lostpebble commented on #71
Yea this is making Tus basically unusable with Cloud Functions and storage triggers. In fact, I think the nature of Tus itself probably makes it unusable (the chunking nature)... Since it will trigger the function multiple times during the upload (the behaviour I'm currently seeing).

[2017-10-20 10:33] nfriedly commented on #71
FWIW, I figured out where Google's official library for this is: its part of the Firebase SDK: https://firebase.google.com/docs/storage/web/start

I switched to that and things started working properly.

[2017-10-20 12:03] Acconut commented on #71
Sorry to hear that you were having issue with this.

This is not the case, tus-js-client should be able to upload and resume files with any specified `chunkSize`, whether it be an integer or Infinity. We successfully tested it, so I assume that this was an issue for the tus-node-server data storage for GCS. If I recall correctly, there was once a bug fix for an issue similar to yours but I am not

[2017-11-13 22:08] ugin opened #77 "Remove console.log logs"
Can we remove the `console.log` calls from the source and use something like `debug`?

We have a pipeline of node services and we use a standard log output. We can't use the `tus-node-server` as is, as it pollutes our log server with warnings that the output logs have an invalid format.

Currently I forked the source and removed all the logs. I can create a PR.

[2017-11-13 23:25] bhstahl commented on #77
By all means, let's remove them. Logging in the implementation can be achieved using [events](https://github.com/tus/tus-node-server#events). I'd be delighted to take a look at your PR, thanks for offering!

[2017-11-30 13:13] gerdus commented on #74
I made a pull request #79  that fixes this issue

[2017-12-02 14:25] bhstahl commented on #74
Fixed in https://github.com/tus/tus-node-server/pull/79

[2017-12-02 14:25] #74 closed

[2017-12-22 13:28] ujvzolee opened #81 "PostHandler returns invalid 'Location' header"
Hi!
The following line seems to break the proper URL creation when uploading new files:

https://github.com/tus/tus-node-server/blob/7b7ac6c6c72f43559f9656848140794a4193ca1f/lib/handlers/PostHandler.js#L18

Suggestion:
The `req.baseUrl` should be used **together** with `store.path`.
[code]

[2017-12-23 11:40] akzhy opened #82 "Failed to load grpc binary module"
Hi
i am using electron js and tus-node-server together.
Whenever i am running it i get the error `failed to load grpc binary module because it was not installed for the current system`

![error](https://user-images.githubusercontent.com/20243910/34319306-7493d786-e804-11e7-9dd5-89a7156f9f1a.jpg)

I tried re installing tus, electron and everything but it did not work

[2017-12-23 15:22] bhstahl commented on #81
Good catch @ujvzolee. Happy to merge a PR if you'd like to tackle this one.

[2017-12-25 07:34] #82 closed

[2017-12-27 16:46] devalexqt opened #83 "How to get user sessionID and cancel upload from server?"
How to get user session id on server side and before accepting upload on server, check if session is exist in DB?

[2017-12-29 07:09] sharh opened #84 "Error in get uploaded files"
[code]

[code]

Then in browser:

`http://localhost/uploads/07e9fe83e7a1a27e5766044615157080`，It says `Not found`

I think you should not use `(req.url in this.handlers.GET)`, it's bad!!!

[2017-12-29 11:57] ujvzolee commented on #81
@bhstahl #85
When can we expect the next release so I can update our deps?

[2017-12-31 21:36] bhstahl commented on #84
@sharh the `GET` hander is very minimal as the primary concern of this repo is receiving uploads, not serving files. I made the assumption most developers would typically implement their own `GET` routing/handlers.

That said, If you'd like to propose something more sophisticated in a PR, I'd be happy to review.

[2017-12-31 21:39] bhstahl commented on #83
Hey @devalexqt, that logic would be done outside of this module in your implementation, perhaps using [express](https://github.com/tus/tus-node-server#use-tus-node-server-as-express-middleware).

[2017-12-31 21:39] #83 closed

[2017-12-31 21:40] bhstahl commented on #81
Thanks @ujvzolee! Doing a release now

[2017-12-31 21:40] #81 closed

[2018-01-02 15:33] LaurensRietveld commented on #77
@ugin Did you get around to submitting a PR? If not, I can do it (need to remove these logs as well)
@bhstahl What are you looking for? Simply removing the logs, or substituting these with something like `debug` as well?

[2018-01-03 07:14] LaurensRietveld commented on #77
Added a PR that replaces the log statements with `debug`, see #87

[2018-01-03 10:47] dongmai opened #88 "How should we authorize users?"
Currently anyone has the api endpoint can upload files to the server. Is there any way to enable authorization when uploading files?

I'm thinking about writing a middle-ware for this, a database will be made to store user's credentials. And that info is required on api request to authorize users.

Thanks

[2018-01-03 11:57] kvz commented on #88
Related: https://github.com/tus/tus-node-server/issues/83

It's probably best to add middleware for this to an express server, and use tus-node-server in conjunction with that

[2018-01-03 16:54] dongmai commented on #88
Ok, thanks @kvz

[2018-01-03 16:54] #88 closed

[2018-01-08 10:49] rictorres commented on #12
update:

we've been using `tus-node-server` together with `s3-store` for almost 6 months in production (https://mycujoo.tv). all major issues have been fixed.

whoever is interested, please check the source code on https://github.com/mycujoo/tus-node-server and send us some feedback :)

we'll be sending a pr to this repo soon.

thanks!

[2018-01-11 03:20] sharh commented on #84
@bhstahl Em, Yes, you are right. I'd like to.

[2018-01-11 03:20] #84 closed

[2018-01-22 22:13] musicformellons opened #91 "working with ovh object storage?"
I am a man with confidence and great plans, but limited experience, considering to setup tus-node-server and would like to use [this ovh service](https://www.ovh.co.uk/public-cloud/storage/object-storage/) which uses object storage (similar to blob storage I believe) and can be used via openstack. I have no idea if this is feasible and how easy / hard that will be. I did find [this library](https:

[2018-01-23 15:58] DragonRaider5 commented on #91
It is possible, but as the package seems to only support uploading files from your local hard drive you would need to first store them, upload them and then delete them.

By forking the [node-ovh-objectstorage](https://github.com/dimer47/node-ovh-objectstorage) project, you could actually make use of streams pretty easy - just not sure about writing to an offset, you might have to implement that.

[2018-01-23 16:18] musicformellons commented on #91
Ok! Just to be sure: By 'combining forked node-ovh-objectstorage and tus-FileStore code' I should aim for uploading straight to ovh, right? As first local download and then uploadtoOVH and delete local sounds like a serious detour.

[2018-01-23 16:21] DragonRaider5 commented on #91
Yeah, that should be the goal :)

[2018-01-23 16:57] #91 closed

[2018-01-24 07:42] musicformellons opened #92 "integration with feathersjs"
Trying to setup with Feathers (which uses express) but having problems. Any suggestions how to get [this](https://stackoverflow.com/questions/48412192/integrate-tus-node-server-into-feathersjs-with-express) working?

[2018-01-25 15:47] musicformellons opened #93 "can not perform file creation"
I am trying to setup tus-node-server on a remote server. It seems it just creates a new upload endpoint (a files without any length in the file folder), but it does not upload the actual file. In the client (uppy) when I upload a second time it gives success...

When using the tus cli I get following results:

[code]

And:

[code]

In comparison a working upload gives:
[code]
Any suggestions?

[2018-01-25 20:30] musicformellons commented on #93
After adding the `writefile` from the demo code it works nicely!

[2018-01-25 20:30] #93 closed

[2018-02-08 14:41] mhf-ir opened #94 "grpc compile error"
I seems grpc compile error during latest version:

nodejs 8
ubuntu 16.04.3 (docker container)

installed via yarn

[code]

[2018-02-21 14:21] bhstahl commented on #61
Would love to hear your thoughts on this @radev

[2018-02-22 22:32] bhstahl commented on #77
Closed with #87

[2018-02-22 22:34] bhstahl commented on #94
This should be closed with #90, ignoring the `@google-cloud/datastore` package

[2018-02-22 22:34] #94 closed

[2018-03-06 17:08] mperrando opened #95 "Pass the request to the getOffset() function."
https://github.com/tus/tus-node-server/blob/c1edd01689383a81a1f9e991eb6ca7a8002e4014/lib/handlers/HeadHandler.js#L21

It is possible that some Storage implementations may use some data from the request to choose how or where to store the file.

The request is passed in the create and in the write functions, so should not be the case to pass the request also here?

See also
https://github.com/tus/t

[2018-03-08 23:42] benedictchen commented on #12
@rictorres Any update on that PR?

[2018-03-09 18:40] rictorres commented on #12
i'll update that pr asap :)
thanks for reminding me

[2018-03-29 11:25] fentas opened #98 "Can't upload 0 Byte file"
From the tus protocol, tus should be able to upload 0 bytes files.

https://github.com/tus/tus-node-server/blob/master/lib/validators/RequestValidator.js#L21
`0` is included in the `non-negative integer` range.

I think it is not as easy as to change the `1` to a `0`?

---
As for the `tus-js-client` it should be able to upload/create 0 bytes file.
https://github.com/tus/tus-js-client/issues/106

[2018-03-29 12:33] krampampuli opened #99 "basic authentication through a HTTPS proxy"
Hi, for this, I had to add the `Authorization` header to `lib/constants.js`, and also the corresponding function in `lib/validators/RequestValidator.js`:

[code]

It works in my test environment, but I don't have direct access to the production server to use custom codes.

Could this be included in the master branch? Then I could ask for a server update. Than you!

[2018-03-29 14:12] kmjayadeep opened #100 "Location should send relative url"
In POST request, the response header should contain Location as relative url. In my case I was running application behind nginx proxy. So tus was returning 127.0.0.1/file_url in the Location. If it was relative url, it should be easy to handle for the client

[2018-03-30 00:09] keremkusmezer opened #102 "EACCES: permission denied, open '/tmp/.config/configstore/tus-node-server-0.2.10.json.276941652' You don't have access to this file."
EACCES: permission denied, open '/tmp/.config/configstore/tus-node-server-0.2.10.json.276941652'
You don't have access to this file.

Exception with Node.js 8.9.3 on AWS Instance when trying to deploy the server.
It occurs randomly, it there a way to target configstore to somewhere else

[2018-04-04 18:01] CanRau commented on #72
thx for sharing @SavePointSam

[2018-04-05 04:50] bhstahl commented on #72
Thanks @SavePointSam! Would you be interested in adding a koa section to the README, similar to [express](https://github.com/tus/tus-node-server#use-tus-node-server-as-express-middleware)?

[2018-04-06 04:51] #98 closed

[2018-04-19 13:30] dougwit opened #104 "Filename encoded"
The tus js client automatically encodes the filename before adding it to the request, but the node server does not decode it. It would be nice to have automatic decoding instead of having to manually parse and decode the filename from `event.upload_metadata`.

[code]

[2018-04-24 07:45] rictorres commented on #104
we've added something like this here:

https://github.com/tus/tus-node-server/pull/89/files#diff-cf34f7e211aecb1cd3ae5f05a5cde2d8R350

perhaps we could put that in a common place later on so it can be shared :)

[2018-04-27 11:34] jazkh opened #105 "Nodejs GET 404 (Not Found)"
Hello, how can I make my nodejs server to respond to GET request from uppy client?
I am getting GET http://localhost:3000/upload/files/22476a6c5d26e9a2d70f2901c1eab4ae 404 (Not Found)

Am I doing it correctly? If not, then how should I properly respond to GET request?
Please guide me. Thank

`
const tus = require('tus-node-server');
const EVENTS = require('tus-node-server').EVENTS;
const server =

[2018-04-28 02:45] jazkh commented on #105
@kvz @Acconut

[2018-04-28 06:26] jazkh commented on #105
if I remove this piece of code
``
const uploadApp = express();
uploadApp.all('*', server.handle.bind(server));
app.use('/upload', uploadApp);
``
and check my Get method manually, it works. But then uppy client fails to POST.

[2018-04-28 06:35] jazkh commented on #84
@bhstahl
Hello, I am facing the same problem. What should I do?

[2018-04-28 06:44] jazkh commented on #105
It works after re-arranging the code.
Can anybody explain why this behavior?

**FROM this**
``
const uploadApp = express();
uploadApp.all('*', server.handle.bind(server));
app.use('/upload', uploadApp);

app.get('/upload/files/:fileid', (req, res) => {
const { fileid } = req.params;
res.sendFile(__dirname + /files/ + fileid);
});
``
**TO this**

``
const uploadApp = express();
app.get('/upload/fil

[2018-04-29 20:46] Acconut commented on #105
I am not involved with tus-node-server much, but what you experienced here has nothing to do with tus-node-server but is entirely caused by how routing is handled in express. Basically, the order in which you defined your routes is very important. A very good explanation can be found in https://stackoverflow.com/questions/32603818/order-of-router-precedence-in-express-js

[2018-04-29 20:50] Acconut commented on #84
As  @bhstahl said, you should implement your own GET handler.

[2018-05-01 07:01] Acconut commented on #92
Unfortunately, no one in our team has experience with Feathersjs. Luckily, your question was answered in the linked StackOverflow question: https://stackoverflow.com/a/48534882

[2018-05-01 07:01] #92 closed

[2018-05-01 07:06] Acconut commented on #104
That sounds amazing, @rictorres!

[2018-05-01 07:11] #99 closed

[2018-05-01 07:12] Acconut commented on #99
Apologies for the delay, this feature has been added in https://github.com/tus/tus-node-server/pull/103 and should be ready for use now.

[2018-05-01 07:17] Acconut commented on #100
Historically, not all clients (especially on Android and iOS) have dealt very well if the URL returned in the Location header is not absolute. This is why we usually prefer to provide no relative URL. However, we would be happy to see a PR to change this.

[2018-05-01 07:28] Acconut commented on #102
You should be able to change the configuration directory using the `XDG_CONFIG_HOME` environment variable (we are using [configstore](https://github.com/yeoman/configstore/blob/master/readme.md) internally which can be configured in that way).

Besides that I am closing this as a duplicate of https://github.com/tus/tus-node-server/issues/62.

[2018-05-01 07:28] #102 closed

[2018-05-01 07:29] Acconut commented on #62
You should be able to change the configuration directory using the `XDG_CONFIG_HOME` environment variable (we are using [configstore](https://github.com/yeoman/configstore/blob/master/readme.md) internally which can be configured in that way).

That being said it might still be beneficial to switch to another storage mode.

[2018-05-01 07:31] Acconut commented on #54
You should be able to change the configuration directory using the `XDG_CONFIG_HOME` environment variable (we are using [configstore](https://github.com/yeoman/configstore/blob/master/readme.md) internally which can be configured in that way).

Besides that I am closing this as a duplicate of https://github.com/tus/tus-node-server/issues/62.

[2018-05-01 07:31] #54 closed

[2018-05-11 09:46] djsg commented on #63
Hi,
tried your code, but let not defined reference error.
sorry, new to JavaScript.

[2018-05-11 10:42] rictorres commented on #63
@djsg which version of `node` are you using?
`let` is a keyword like `var`

[2018-05-14 02:57] djsg commented on #63
It's version 4.2.6.
Previously my system (Ubuntu 16.0.4) only has  nodejs; just now after I installed nodejs-legacy, I can use node to start Ivan's code without any problem. Both have same version number.
I need to google "node vs nodejs". Haha.

[2018-05-14 21:01] rictorres commented on #63
@djsg i see what's wrong:

you're calling `fs.rename()` without providing a callback for it (`fs.rename(oldPath, newPath, callback)`), so you'd write it like:

[code]

there's also the `sync` version of `rename` although i wouldn't recommend in this case.

ref: https://nodejs.org/dist/latest-v8.x/docs/api/fs.html#fs_fs_rename_oldpath_newpath_callback

[2018-05-15 08:11] djsg commented on #63
@rictorres
Thx for your help. Now I get it to work.

[2018-05-16 07:10] Acconut commented on #63
You pass `oldpath` to `console.log` in your callback, but the variable is called `oldPath`. Notice the capitalization. In JavaScript variable names are case sensitive, so oldpath is not oldPath.

[2018-05-16 09:12] Acconut commented on #63
No worries, you're welcome :)

[2018-05-17 06:29] djsg opened #107 "nginx config for tus-node-server in a virtual machine"
Hi,

This is my setting:
(1) web server (Laravel PHP, port HTTPS 443) and tus-node-server ((port 9000) run in a virtual machine (virtualbox)Ubuntu 16.04, IP address 192.168.10.10)
(2) Host machine (Ubuntu 16.04) IP address 10.217.131.132
(3) virtualbox redirect host machine port 44300 to virtual machine port 443
(4) in virtual machine nginx setting, I redirect "/files" to http://127.0.0.1:9000;

S

[2018-05-17 15:05] Acconut commented on #107
First of all, let's clarify what errors are you seeing. Saying "some" errors is not helpful, please be more descriptive. Then we can likely help you further.

[2018-05-17 20:19] PaddoSwam opened #108 "Filenames with spaces and using namingFunction"
I tried to upload a file with spaces in the file name and it threw me an error, I debugged and found out that it didn't try to decode the file name.

[2018-05-23 03:41] djsg commented on #107
@Acconut
Sorry about being not-so-specific.

Today I did the test again with same settings:
I fixed endpoint in demo.js as
    var endpoint = "https://10.217.131.132:44300/files/";

The tus-node-server did receive the upload request because I saw in the log
    tus-node-server [TusServer] handle: POST /files/ +49m
however, my chrome browser showed this error message:

Failed to load https://10.217

[2018-05-23 19:36] Acconut commented on #107
As you correctly noticed the port is missing in the response's Location header from the POST request. This is because neither tus-node-server nor nginx are aware that VirtualBox will do another port redirection.

That could either be fixed in tus-node-server by changing that it does not return absolute URLs anymore (which contain the host and port) but instead only relative URLs (which just contai

[2018-05-24 03:16] djsg commented on #107
Is it easy to change tus-node-server to use relative URLs? is it currently configurable?

For second option, as long as you provide configuration sample for both Apache and nginx, we, as users, are fine since we need to have either of them in case of using HTTPS to do file upload.
BTW, do you have any working nginx sample config?

[2018-05-24 04:26] djsg commented on #107
tentatively I run the tus-node-server code in host machine, then I use apache2 to forward HTTPS traffic with route "/files" to tus server. so far it works.

but there is a warning from nodejs:
(node:20367) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

Do you want me

[2018-05-24 04:26] #107 closed

[2018-05-24 20:20] Acconut commented on #107
No, not at the time of writing this. You can see (https://github.com/tus/tus-node-server/blob/master/lib/handlers/PostHandler.js#L19) that not all used values there are configurable.

Yes, please :+1:

[2018-05-25 07:39] djsg opened #110 "Deprecation Warning when run demo code"
When I run

DEBUG=* npm run demo

I got the following warning:

(node:20367) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

My npm version is 5.6.0
node -v output: v10.1.0

[2018-05-25 07:48] Acconut commented on #110
Thanks for the details! Could you also please run `DEBUG=* --trace-warnings node demo/server.js`? This should also provide the line where the deprecation warning is triggered. Since I could not find a direct usage of Buffer in tus-node-server, it's likely in one of its dependencies.

[2018-05-25 08:10] djsg commented on #110
The following is the output: same as before

node-server$ DEBUG=* node demo/server.js --trace-warnings
[16:03:01] tus server listening at http://127.0.0.1:9000 using FileStore
  tus-node-server [TusServer] handle: GET /files/ +0ms
  tus-node-server [TusServer] handle: OPTIONS /files/ +12s
  tus-node-server [TusServer] handle: POST /files/ +7ms
  tus-node-server [TusServer] handle: OPTIONS /files/7

[2018-05-25 08:15] Acconut commented on #110
Sorry, I mixed up the order. It should be `DEBUG=* node --trace-warnings demo/server.js`. The `--tract-warnings` must be directly after node or otherwise it will not be recognized by node.

[2018-05-25 08:20] djsg commented on #110
(node:3526) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
    at showFlaggedDeprecation (buffer.js:159:11)
    at new Buffer (buffer.js:174:3)
    at keyValuePairList.reduce (/home/user/Code/fitpu/AI_oncologist/server_code/laravel/public/uploads/tus_server/tus-node-se

[2018-05-25 09:45] Acconut commented on #110
Good, thank you. However, the stack trace does not match the `demo/server.js` file we have in this repository (https://github.com/tus/tus-node-server/blob/master/demo/server.js). Could it be that you have local modifications for this file?

[2018-05-25 10:04] djsg commented on #110
yeah, I added some code to rename uploaded file to its original name, which seems not a good idea after reading some posts.
I shall comment them out.

Thx.

[2018-05-25 10:04] #110 closed

[2018-05-25 10:27] Acconut commented on #110
Ok, sounds good :+1:

[2018-05-28 09:44] djsg opened #111 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
embed tus-js-client in a web brower; the endpoint is http://127.0.0.1:9000, which tus-node-server runs at.
I got the following error. Strangely I run the same setting in another machine; it works.

2upload.js:328 POST http://127.0.0.1:9003/files/ 412 (Precondition Failed)
_createUpload @ upload.js:328
start @ upload.js:190
startUpload @ demo.js:137
tus-js:1 Failed to load http://127.0.0.1:9003/fil

[2018-05-28 09:56] rictorres commented on #111
that's a [cors](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) issue.

maybe take a look at https://github.com/tus/tus-node-server/blob/master/lib/Server.js.

also, are you sending an `origin` header from the client?

[2018-05-30 08:16] djsg commented on #111
@rictorres
It seems to be caused by browser cache. I used a few endpoints to test.
After clearing browser cache, the problem disappears.

Another question: does the current demo/server.js support multiple clients uploading at the same time?

[2018-05-30 08:16] #111 closed

[2018-06-17 20:00] fishcharlie opened #112 "Access-Control-Allow-Origin Errors"
I'm using both the tus-node-server and the tus-js-client to try to upload files to my server from a web browser. On smaller files (10mb-ish) it seems to be working fine, but on larger files (385mb-ish) it seems to be failing with a `Access-Control-Allow-Origin` failure.

After it throws that error in the console it retries up until the limit of retries I have set.

I have posted the errors below.

[2018-06-21 19:21] Acconut commented on #112
Not out of my head. Would you mind sharing your configuration for tus-node-server and tus-js-client? Also, does tus-node-server produce logs which you can share?

[2018-06-21 19:22] fishcharlie commented on #112
@Acconut I have posted my code below. No logs that I'm aware of.

Front End JS:

	var upload = new tus.Upload(file, {
		endpoint: "https://upload.example.com/?id=" + res._id,
		retryDelays: [0, 1000, 3000, 5000],
		metadata: {
			filename: res._id,
			filetype: file.type
		},
		onError: function(error) {
			console.log("Failed because: " + error)
		},
		onProgress: function(bytesUploaded, bytesTot

[2018-06-21 19:24] Acconut commented on #112
Ok, thank you very much, I will see if I can reproduce it. Do you use any proxy in front of tus-node-server? This may screw with response headers if configured wrong.

[2018-06-21 19:24] fishcharlie commented on #112
@Acconut I only use CloudFlare, and I'm just using the following command to map port 3000 to port 80.

    sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 3000

[2018-06-24 10:15] Acconut commented on #112
I attempted to reproduce your error but I wasn't able to. The upload always completed without problems even when changing the file sizes as you described. I assume it may be related to your CloudFlare or iptables setup. Maybe some the hostname or port is not properly set by some proxy.

Does this error occur always or just randomly?
Would you be able to generate a HAR file and share it with us (se

[2018-06-24 18:37] fishcharlie commented on #112
@Acconut I have just generated a HAR file and emailed it to you. Because of that I was able to figure out a little bit more detail. On a PATCH command I'm getting a 413 status code. `413 Request Entity Too Large` from `cloudflare`. The content type is `text/html`.  I have attached the response below.

[code]

I'm assuming the quick solution would be to disable Cloudflare for that subdomain. Althou

[2018-06-24 21:47] Acconut commented on #112
Thanks for sending that file over. In that situation, the case is pretty clear. Cloudflare sends the 413 response but does not include the CORS headers, so the browser throws the error you mentioned in the original comment. I see two ways to fix this:

a) Disable the Cloudflare size limit, if possible (not sure whether they support that, I haven't used Cloudflare extensively)
b) Set the `chunkSize

[2018-06-24 22:21] fishcharlie commented on #112
@Acconut It looks like the second option is what I'm looking for. The `chunkSize` option in that documentation doesn't look like it specifies what type it is looking for. After quickly looking at the code it looks like it accepts it in bytes. Is that correct? If so I can make a PR to add that important detail to the documentation (README).

[2018-06-25 07:43] Acconut commented on #112
Yes, that's correct.

Thank you for the offer, but I already took care of that :)

[2018-06-26 12:40] michau-krakow opened #113 "Could not start tus server due to deprecated Google-Cloud package"
5 days ago the Google-Cloud package has been fully deprecated:
https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2832

This makes tus-node-server unable to start as it can no longer `require('google-cloud')`;

[2018-06-28 07:04] #113 closed

[2018-06-28 07:41] kvz commented on #113
Closed by accident or on purpose?

[2018-06-28 09:17] michau-krakow commented on #113
I should have left some comment...
Closed intentionally, it looks deprecation affects older version and the latest one is working properly.

[2018-07-02 08:36] djsg commented on #111
I am studying the server code. I wonder what log message is kept.

[2018-07-02 16:17] Acconut commented on #111
I am sorry but I don't fully understand what you mean. Could you rephrase that sentence?

[2018-07-03 03:08] djsg opened #114 "412 (Precondition Failed)"
TUS server log: Invalid upload-metadata header: filename

TUS client error: see below captured image file
![1044288034](https://user-images.githubusercontent.com/11957578/42196510-e1440426-7eb0-11e8-9087-7b4c2caed0e7.jpg)

I am running the test in company Intranet. If I run clients in the same subnet as TUS server (10.217.131.xxx), it works perfectly; if I test client in other subnet (10.217.133.x

[2018-07-03 03:21] technicalbird opened #115 "Entity Header must not be empty"
Hi,

I got this error while uploading files to local.
For exact Error.
 https://drive.google.com/file/d/1kwHxvOiJgvgqZ7ibrUWKyJ-1FYoKiwja/view?usp=sharing Any help would be greatly appreciated.

Thanks

[2018-07-05 01:18] djsg commented on #111
@Acconut
Can you check this issue [https://github.com/tus/tus-node-server/issues/114](url)? My question is regarding to it.

[2018-07-05 04:50] dohomi commented on #12
@rictorres would love to see this feature as well. Any update on this?

[2018-07-05 07:17] rictorres commented on #12
@dohomi afaik that pr is ready to be merged, at least it was 2.5 months ago :)

cc @bhstahl @Acconut

[2018-07-05 07:40] dohomi commented on #12
cool I will use your fork meanwhile thanks!

[2018-07-06 07:16] djsg commented on #114
I think I have the cause of this problem

At tus js client side, in file tus.js function encodeMetadata is like:

`function encodeMetadata(metadata) {
  if (!Base64.isSupported) {
    return "";
  }

  var encoded = [];

  for (var key in metadata) {
    encoded.push(key + " " + Base64.encode(metadata[key]));
    console.log("metadata key = " + key + ", value = " + metadata[key]);
  }

  return en

[2018-07-09 01:06] #114 closed

[2018-07-09 01:11] djsg opened #117 "Upload-Metadata BUG in tus js client code"
At tus js client side, in file tus.js function encodeMetadata is like:

[code]

Based on the console log, metadata are filename and filetype.
It is a BUG in the case filetype value is an empty string, because at tus-node-server side, in file lib/Server.js at line 150

[code]

When checking metadata, a non-empty string is expected.
In my test case, if at client side filetype value is empty, I got 4

[2018-07-09 11:11] Acconut commented on #115
The Entity-Length header has been removed from the tus protocol a few years ago and is not referenced by tus-node-server (this repository) anymore. It seems as if you are using node-tus (https://github.com/niklasvh/node-tus) which has not been updated for four years and is not compatible with the current tus protocol. So I think you are confusing node-tus (old) and tus-node-server (not old). If yo

[2018-07-09 13:56] Acconut commented on #111
I don't think that's fully correct but I didn't try it out. The --trace-warning flag makes that stack traces are added to the warning message. However, this does not enable the tus-node-server specific logging output.

If you want to see the log, you have to set the DEBUG environment variable: `DEBUG=tus-node-server:*`. How to exactly do that depends on your OS and shell, so please look that up fo

[2018-07-09 13:58] Acconut commented on #114
Thanks for investigating this. Let's continue the discussion in https://github.com/tus/tus-node-server/issues/117.

Also, please avoid mentioned too many people. Most of them are not involved in tus-node-server and won't be able to help you. We will always respond but it sometimes just takes a bit of time.

[2018-07-09 14:13] kvz commented on #111
Just a quick tip to also log stderr, because I think `debug` switched to stderr logging in some version

[code]

[2018-07-10 00:50] djsg commented on #114
@Acconut  Sorry for including everyone.

[2018-07-11 20:50] Acconut commented on #12
Thanks for all the work! #89 has been merged :tada:

[2018-07-11 20:50] #12 closed

[2018-07-11 21:12] Acconut commented on #117
Good catch, @djsg, thank you for digging into this. Would you be so kind and provide a PR for allowing empty metadata in tus-node-server?

[2018-07-12 01:43] djsg commented on #117
@Acconut
PR means permanent resolution? I can give it a try.
My current solution is that at client side if filetype value is empty, I assign "unknown type" to it.
A proper way should be at server side allowing empty metadata values.
Is there a deadline? how to submit my code?

[2018-07-12 06:32] technicalbird commented on #115
Could you please tell me where I could find the updated code. I need to bind this for both client and for server. Please help

[2018-07-14 05:20] technicalbird commented on #115
Thanks, that issue has been resolved.
But I got one more,
Is there any way I could send additional parameters with file and save the file with the format it has?

[2018-07-14 17:10] technicalbird opened #118 "How to send additional parameters with request and return Response?"
Hi,
I want to know how can I send additional paramters like user related information in this, So that it becomes less handy to manage things at server.

Also, I would need help regarding the name of file gets printed in console to be converted as output JSON. i.e Name of saved file in the repsonse
please help.

[2018-07-14 19:54] Acconut commented on #115
Closing this issue since the author moved the further discussion to #118.

[2018-07-14 19:54] #115 closed

[2018-07-14 20:00] Acconut commented on #118
Assuming that you are using tus-js-client, you can use the `metadata` option (see https://github.com/tus/tus-js-client#tusdefaultoptions) to supply key-value-pairs with any information you want. This can then be accessed in tus-node-server's events.

Sorry, I don't understand what you are exactly asking? Would you mind rephrasing that?

[2018-07-14 20:04] Acconut commented on #117
PR stands for Pull Request which is the way how one can contribute on GitHub. It basically means that you *request* that we *pull* your code changes into our repository.

Exactly, that would be the better solution

No, there is no deadline :)

I am unsure how familiar you are with GitHub but here is a detailed guide on how you can contribute code: https://akrabat.com/the-beginners-guide-to-contrib

[2018-07-15 04:38] technicalbird commented on #118
OK, There is lot of confusion in the git repo for both client and server. The example for client posted in n

The only solution that seems to work is by using the client side of Tus client and server side for tus Node. But this is not the end, when you try to upload something, you got the CORS error. Using Google Chrome plugin I managed to solve this ( but that is not the solution).

Now, Coming t

[2018-07-16 15:49] Acconut commented on #118
What exactly did not work? We are not aware of any flaws in these examples but we are always happy to see how we can avoid the confusion? FYI, tus-js-client does not have a server-side, so what are you referring to?

tus-node-server will set the necessary CORS headers, including Access-Control-Allow-Origin. Are you using some proxy in between which could alter the request and response headers?

[2018-07-16 16:45] technicalbird commented on #118
Here is the test case for creating the confusion
- Clone both of the repo
- Try to run them

& that's exactly similar to what a normal user does.

Regarding CORS
Also, there is also [issue](https://github.com/tus/tus-js-client/issues/110) posted in client repo and I am not using any proxy.

[2018-07-17 06:34] spencern opened #119 "Security vulnerabilities introduced through pinned version of @google-cloud/storage"
We use the `snyk` tool at ReactionCommerce to scan for vulnerabilities reported in npm packages.

We're seeing two different vulnerabilities introduced through `tus-node-server` and both of them are coming through the outdated dependency on @google-cloud/storage@1.1.1

A medium severity vulnerability on tunnel-agent: https://snyk.io/vuln/npm:tunnel-agent:20170305
[code]

A low severity vulnerabili

[2018-07-17 18:54] Acconut commented on #119
Thank you very much reporting this. Would you mind opening a pull request for upgrading `@google-cloud/storage`? This patch can then be included in the 0.3.0 release which is right around the corner.

[2018-07-17 19:07] Acconut commented on #118
Ok, I see what confusion you are referring to. Both projects use different port numbers, so you have to configure them first.

I don't see how that issue should be connected to your situation. Would you mind to elaborate?

Ok, thanks. What endpoint are you passing to tus-js-client? `http://localhost:8000/` or `http://localhost:8000/files/`? If you are not using latter one, please try it out.

If t

[2018-07-18 17:55] SavePointSam opened #122 "expose File model"
I'm needing to create my own `DataStore` based on `FileStore`. However, there appears to be no entry to get to the `File` model used by this library. I now need to either duplicate my code or (maybe) use an unsupported entry point.

If the `File` model could be exposed to the public API, that would be awesome so that my custom `DataStore` works as the internal ones do.

Thanks!

[2018-07-18 18:50] #119 closed

[2018-07-18 19:23] SavePointSam commented on #122
I just realized that `DataStore` has no reliance on Store#configstore, so there is no need for me to use your `File` model. Meaning this is a non-issue.

Original Answer:
I'm making a custom `Store` for working with HDFS. I'm not subclassing `FileStore`, I'm using it as a basis to build my own. I'm actually subclassing `DataStore` like all other `Store`s.

However, in order to remain compatible wi

[2018-07-18 19:23] #122 closed

[2018-07-19 18:39] Acconut commented on #122
Ok, thanks for your explanation.

[2018-07-20 05:28] spencern commented on #119
@Acconut There's a new vulnerability reported in the `cryptiles` library that's included in the `@google-cloud/storage@1.1.1` release. That vuln is also resolved by #120.

When do you think you'll be able to cut a release?

[2018-07-20 09:05] Acconut commented on #119
0.3.0 has just been released right now.

[2018-07-20 14:59] spencern commented on #119
Thank you!

[2018-07-31 07:53] djsg commented on #117
Hi @Acconut, I followed that guide and submitted a PR.

[2018-07-31 10:02] djsg commented on #117
@Acconut
sorry, not sure how to run the build system locally. and my changes cannot pass the system test.

[2018-08-02 18:38] cberescu opened #124 "How to protect uploads with Authentication"
Hi,

Is there a way to not allow uploads without a proper authentication ? Or is there a way to stop an upload from being started. or an upload in progress ?

Please help. Thanks.

[2018-08-03 07:29] #124 closed

[2018-08-06 10:27] Acconut commented on #124
Yes, this is possible. Either you use a proxy and a middleware for your framework to check the authentication on the requests before forwarding them to tus-node-server.

Since you closed this issue on your own, I wanted to ask if you were able to help yourself?

[2018-08-06 12:52] #117 closed

[2018-08-06 12:56] Acconut commented on #117
Thank you very much @djsg. I merged your PR, so this should hopefully be fixed now

[2018-08-08 12:41] Acconut commented on #53
Unfortunately, this is not possible with the current design. If a user selects a file which has already been uploaded, the client will just check if the first upload has been finished and if so, do nothing. Therefore, the server does not know that a user has selected the file again and cannot fire a special event for this situation.

The solution is that the client pings the server if the client h

[2018-08-11 21:27] #112 closed

[2018-08-11 21:28] Acconut commented on #118
Closing this issue due to a lack of information. Feel free to leave a comment if you want to continue the discussion :)

[2018-08-11 21:28] #118 closed

[2018-08-12 11:39] paschaldev opened #125 "Unable to implement custom datastore"
I've been battling with creating a custom DataStore for `Cloudinary` and I don;t know how to get past this error in the console when I try to start the server.

[code]

### server.js
[code]

### CloudinaryStore.js

For a start, my cloudinary store looks like this

[code]

[2018-08-12 23:32] Acconut commented on #125
That's a weird error, I was not able to reproduce using your scripts. However, I have an idea: From `require('../tus-cloudinary-store/src/index')` it looks like your `server.js` and `CloudinaryStore.js` are stored in different folders (/Users/xyz/Documents/GitHub/tus-upload-test/ and /Users/xyz/Documents/GitHub/tus-cloudinary-store) with their own node_modules folders. Therefore, both of these fil

[2018-08-13 10:04] paschaldev commented on #125
@Acconut I understand you but the `tus-node-server` was installed with npm so it's same. Let me explain better.

I want to build the `CloudinaryStore` as a separate independent module so I can manage it rather that fork this current repository and make one then send the pull request.

I tried implementing the custom store as a new kind of store under this repository so I can send a pull request an

[2018-08-13 10:11] paschaldev commented on #125
@Acconut UPDATE. I don't get the error when I `npm install` from the github repo. The error only happens when I'm building locally because I installed locally as `npm i ./documents/github/tus-cloudinary-store`.

What is the way out?

[2018-08-13 10:52] paschaldev commented on #125
@Acconut I was able to get past that error using `npm link`. Closing this.

[2018-08-13 10:52] #125 closed

[2018-08-14 09:53] paschaldev opened #126 "Chunk with parallel upload"
I tested this server out with express using chunk uploads. I added this in my upload client header ('tus-js-client'). I am using S3 bucket

[code]
It works fine, it splits the file into chunks but unfortunately, this chunks are sent serially, one after the other. Is there a way to upload in parallel so the final file is concatenated?

Environment is the browser...
Upload Server is node

[2018-08-14 11:49] paschaldev opened #127 "S3 Upload Restarts and never completes"
I noticed anytime I try to upload to S3, teh upload progress restarts. I'm using partial upload with the header `Upload-Concat: "partial"`. When I use the FileStore, it works but Amazon S3 buckets gives this issue.

![image](https://user-images.githubusercontent.com/13323281/44090022-aeef9342-9fc0-11e8-93a5-701de09abc99.png)

### server.js
[code]

Using `tus-js-client`:
### uploader.js

[code]

Af

[2018-08-17 10:47] rictorres commented on #127
i'll try and have a look at it today and will get back to you in here

[2018-08-17 11:00] paschaldev commented on #127
@rictorres I also noticed that if I put the direct URL instead of using an environment variable, it works. Weird but looks like the environment variable was causing the issue. I don't understand how possible that is.

[2018-08-18 13:25] tkrugg commented on #57
As of now, upload_metadata is just injected as a key of the metadata
So it offers no way to update the contentType, which is another key, as you can tell by the screenshot

<img width="460" alt="screenshot at aug 18 15-21-51" src="https://user-images.githubusercontent.com/2982512/44299646-99c2bc00-a2fa-11e8-989d-fa48e8411fa5.png">

we'd need something like
[code]

[2018-08-18 16:13] tkrugg opened #129 "EVENT_UPLOAD_COMPLETE wrong payload when using GCS"
It seems when using GCS, the payload of the EVENT_UPLOAD_COMPLETE event is not as stated in the README.md
[code]
instead, file is actually an instance of the [File class](https://github.com/googleapis/nodejs-storage/blob/master/src/file.js#L98) as you can tell by the code:
https://github.com/tus/tus-node-server/blob/master/lib/stores/GCSDataStore.js#L160

[2018-08-18 16:16] tkrugg commented on #69
looks like a dup for https://github.com/tus/tus-node-server/issues/61

[2018-08-20 06:06] Acconut commented on #129
Thanks for brining this up. It seems as if that's also the case for other events, such as https://github.com/tus/tus-node-server/blob/master/lib/stores/GCSDataStore.js#L111

Would you mind sending a pull request to fix this issue?

[2018-08-20 06:07] Acconut commented on #57
@tkrugg Would you mind opening a PR for this?

[2018-08-20 06:09] Acconut commented on #127
@paschaldev What environment variable are you referring to?

[2018-08-20 06:12] Acconut commented on #126
This is not related to tus-js-client and not tus-node-server. tus-js-client is currently not able to automatically splitting an upload into multiple parts and uploading them in parallel. In fact, setting the `Upload-Concat` header does not change the behavior of tus-js-client at all.

[2018-08-20 08:00] Acconut commented on #127
`process.env` is not an environment variable but it's the object that contains all environment variables. These can be accesses as `process.env.PATH`. Which ones do you mean exactly?

[2018-08-21 07:45] paschaldev commented on #127
I'm aware... Its process.env.AWS_SECRET process.env.AWS_ACCESS_KEY process.env.S3_BUCKET

[2018-08-21 09:31] Acconut commented on #127
Ok, thanks. I am sorry but I am not expert at tus-node-server's S3Store. Maybe @rictorres has an idea?

[2018-08-22 09:59] Acconut commented on #125
Congrats on finding the issue :+1: I am glad to hear that it's working for you now

[2018-09-10 13:36] hchfly commented on #127
I have encountered the same problem。When I use s3 and  `resume` is true.

I got something wrong message:
browser:    【tus-js-client】
`Request URL: http://localhost:1080/files/736f45ef6e9cfbf31f0768e5a6d189e3
Request Method: HEAD
Status Code: 404 Not Found
Remote Address: 127.0.0.1:1080
Referrer Policy: no-referrer-when-downgrade`。

server:
`{ NoSuchUpload: The specified upload does not exist. The

[2018-09-10 13:51] hchfly opened #131 "S3 Upload has a HEAD error"
Something:
1、Use sample code
2、When I use s3 in Server and `resume`【tus-js-client】   is true.
3、if `resume`【tus-js-client】 is false, it's works.

I got something error message:
browser: 【tus-js-client】
Request URL: http://localhost:1080/files/736f45ef6e9cfbf31f0768e5a6d189e3 Request Method: HEAD Status Code: 404 Not Found Remote Address: 127.0.0.1:1080 Referrer Policy: no-referrer-when-downgrade。

[2018-09-10 19:18] Acconut commented on #131
Unfortunately, I am no expert at the S3 storage. Maybe @rictorres can help?

[2018-09-14 08:18] gormed commented on #100
@bhstahl I think this can be closed now :)

[2018-09-14 16:28] tkrugg commented on #129
Sorry for the late reply. Sure, will do.

[2018-09-18 05:28] bhstahl commented on #100
thanks @gormed  :)

[2018-09-18 05:28] #100 closed

[2018-09-21 06:47] djsg commented on #124
If I use Apache as my proxy, is it achievable through configuration instead of coding?

[2018-09-21 11:10] Acconut commented on #124
Authentication should be handled by a proxy, such as Apache. I can't help you with Apache but there should be enough information available online to get you started with that.

That's right, authentication is not handled by tus in any special way.

I don't fully understand the question but are you trying to link a *user* to a tus upload? If so, you can achieve this by using the metadata option in

[2018-09-25 08:09] djsg commented on #124
I am thinking of implementing what you suggested.
I will add a user ID in metadata at client side; in server's RequestValidator file, if userID key is not found, server invalidate client's request; if it is found, I will check if that use is authenticated, if not, invalidate it as well.
What's is the proper way to implement my logic without breaking the original server library code?
Can have some

[2018-09-26 12:20] Acconut commented on #124
tus-node-server offers a event system but that cannot be used to invalidate requests as you want. The best way IMO would be to have a HTTP server as a wrapper around tus-node-server. This wrapper takes requests from the users, validates them and then passes the requests to tus-node-server if they are correct. This would work by invoking `Server#handle` with the request and response objects, simila

[2018-09-27 02:18] djsg commented on #124
it's almost impossible for me to write a HTTP server wrapper, isn't it?
What I can think of is to use Apache, which I am already using as proxy to tus server.
I will take a look at the express example and Apache authentication examples to get a clear picture.

[2018-09-28 01:02] djsg commented on #124
@Acconut  Thank you for the advice. I will study the express sample and give it a try. Not familiar with it.

[2018-10-01 09:29] djsg commented on #124
@Acconut  I tried the express wrapper code.
Now I have a few more questions:
is it true I can only put "my-token' in the metadata section? if it is, then
      if(req.headers["my-token"] !== "my_secret") {
will fail for request headers that do not have metadata section. This can be easily fixed by first checking if metatdata exists in the header; if so, then check "my-token".

However, what if non

[2018-10-01 11:09] Acconut commented on #124
if(req.headers["my-token"] !== "my_secret") {

Watch out! This example does not read the upload metadata but just inspects a custom header. This header does not have to be called `my-token` but can have any name you want. [tus-js-client](https://github.com/tus/tus-js-client) (and most other clients) has a `header` option to allow you to specify your own headers. You should use headers for authenti

[2018-10-07 21:18] tkrugg commented on #129
Hi @Acconut

Looking at it again it seems the payload of `EVENT_FILE_CREATED` is consistently an instance of [models/File](https://github.com/tus/tus-node-server/blob/master/lib/models/File.js#L10) for DataStore, GCSDataStore and S3Store.

The appear to be inconsistant for EVENT_UPLOAD_COMPLETE however
- [S3Store](https://github.com/tus/tus-node-server/blob/871bc2c3f6fe95d48bc5a6e39e26f5760e0e4904

[2018-10-08 08:30] rictorres commented on #127
i will double check as soon as possible.

[2018-10-08 08:30] rictorres commented on #131
yes, i will try and debug this :)

[2018-10-08 11:34] Acconut commented on #129
Thank you for the detailed update. Frankly, I am not sure what the best next step.
I would like to keep the interface and documentation across all file storages consistent.
However, some people might rely on the GCSDataStore- and FileStore-specific values in the event, so changing its type might break their application and I would like to avoid a breaking change, if possible.

Maybe it is possible

[2018-10-12 07:51] bibifitri opened #133 "Minio Datastore get upload offset conflict [409]"
I build file uploader using following stack:
- tus-node-server
- express
- minio cloud storage

Below my index.js looks like:

[code]

I use S3store because minio is compatible with S3 services. When I tried to upload file 50MB. I got this error
[tus-js-client web browser]
Failed because: Error: tus: unexpected response while uploading chunk, originated from request (response code: 409, response t

[2018-10-12 15:56] Acconut commented on #133
There have been a few issues with Minio in the past when using the tusd server (https://github.com/tus/tusd/issues/156) which were caused by the fact that Minio was not fully compatible with AWS S3. This problem has been fixed some time afterwards: https://github.com/minio/minio/releases/tag/RELEASE.2017-12-28T01-21-00Z

So, it's may be that this is again caused by Minio. What version of Minio are

[2018-10-13 02:49] bibifitri commented on #133
I use the latest docker image of minio.
I have tried upload 50MB file using tusd server and minio, the process finished successfully but I encountered problem when I was uploading file using tus-node-server and minio.

[2018-10-13 13:47] Acconut commented on #133
Unfortunately, I have little knowledge about how tus-node-server's S3Store works. Maybe @rictorres could have a look at this?

In the meantime, I would recommend you to use tusd which should be compatible with minio, as you mentioned.

[2018-10-25 08:15] samosvatov opened #134 "Impossible to disable CORS"
On my project, all CORS are managed by ESP.
And I found out that this package adds 'Access-Control-Allow-Origin' header.
As an ESP.
Duplicating the same 'Access-Control-Allow-Origin' header leads to error.
Is it a possible way to disable this header in the package?

[2018-10-26 18:06] Guizzoni opened #135 "[Request] Add endpoint to S3Store.js"
There are several services that are compatible to s3 api and uses aws-sdk, some of them are wasabi, s3for.me, and scaleway object storage.

My request is, would it be possible to add an optional endpoint config variable to the S3Store.js?
That way we could use other s3 compatible services, maybe by adding something like this:
[code]

[2018-10-26 18:21] Guizzoni commented on #135
S3Store.js already have that option, sorry for creating this useless issue.

[2018-10-26 18:21] #135 closed

[2018-11-07 17:39] Emanuele-Spatola opened #137 "Multipart Uploads to S3 fail"
I'm trying to upload files to S3 storage, I used the sample code for both client (tus-js-client) and server.
If I use `FileStore` everything works fine, but as soon as I use `S3Store` I'm not able to upload files over 12MB.
Here is the debug output (I've added 'write' and 'getOffset' logs to understand the flow):
[code]

The request stays pending and the upload does not complete unless I restart t

[2018-11-07 19:54] saschbro commented on #137
looks like you defined different chunk sizes at client (8 mb) and server (12 mb). afaik chunk sizes have to be exactly the same at client and server otherwise uploads bigger than chunk size will not work correctly. you can set chunk size in tus-js-client by option `chunkSize` (see https://github.com/tus/tus-js-client#tusdefaultoptions).

[2018-11-07 19:59] saschbro commented on #133
there is a minimum chunk size limit of 5 mb for S3. not sure if this restriction is also valid for minio. see https://github.com/tus/tus-js-client#tusdefaultoptions `chunkSize` for more information.

[2018-11-07 21:11] saschbro commented on #137
@Emanuele-Spatola happy to hear. you're welcome. i struggled the same a few days ago. so yes, in my opinion it makes absolutely sense to improve documentation 👍.

[2018-11-10 20:33] Acconut commented on #137
I am glad to read that you were able to resolve the issue, however, it seems a bit odd to me.

I haven't tested it personally but from my understanding of the internals, the chunkSize in tus-js-client must only be bigger or equal to the partSize in tus-node-server. Since chunkSize is Infinity by default, it should not be a problem unless you change the configuration.

This all points towards a pot

[2018-11-11 00:44] Acconut commented on #134
As far as I know, there is no way to disable the CORS headers for tus-node-server as it's usually necessary to get it running. However, you may be able to remove the CORS headers using a proxy? I am not sure what ESP is, I have never heard that acronym in this context.

[2018-11-11 05:04] it-fm commented on #131
not resolve ?

[2018-11-11 10:47] saschbro commented on #137
I tested it again and an upload of a ~70 MB file didn't work for me with chunk sizes of 12 MB for Uppy File Uploader and 8 MB for `tus-node-server`.

[2018-11-13 00:16] Acconut commented on #137
Ok, thanks, this does not sound right. I will test it on my own and dig deeper.

[2018-11-13 00:17] Acconut commented on #131
AFAIK, this specific issue has not been investigated but the S3Store should be functional in most situation. Or do you have problems, @it-fm?

[2018-11-13 15:47] rictorres commented on #131
i'm not experiencing this error from my end.

are you certain the upload ID `736f45ef6e9cfbf31f0768e5a6d189e3` is correct and exists in s3?

[2018-11-14 21:47] saschbro commented on #134
I also stumbled over duplicate CORS header creation when `tus-node-server` is operated behind a reverse proxy. Because there seems to be no configuration option, I had to add a proxy configuration to remove the duplicate headers.

Another issue I recognized for operation behind a proxy / loadbalancer where request's `host header` is set to another value than origin server is that the `location hea

[2018-11-15 10:32] Acconut commented on #134
Seems fair enough, I would be happy to accept a PR for that.

Yes, it would make sense to respect the X-Forwarded-* headers. tusd has exactly this feature already built in. However, you should also be able to configure tus-node-server to return relative URLs which do not contain the hostname using the `relativeLocation` option: https://github.com/tus/tus-node-server/blob/158b89596847e963d19b7cf3a5

[2018-12-02 01:23] danvass opened #139 "Azure Storage"
Are there any examples of using it with Azure Storage or would I have to implement it as an additional data storage provider if I wanted to use it with Tus?

[2018-12-02 15:12] rictorres commented on #139
the latter, at the moment there's no storage provider for azure :'(

[2018-12-12 13:18] kokokenada commented on #124
@Acconut - a follow up question.  I'm picking up the user ID from a JWT 403ing unauthorized requests etc.  All good.  My question is how do I push the user ID obtaintained from the middleware down so that the server.on event handlers can get it?

[2018-12-14 00:42] Acconut commented on #124
As far as I know, the triggered events to not have a reference to the corresponding request, so I don't think there is a direct way to get the ID from a middleware. However, you can set the upload metadata to contain the user ID when the upload is created and then examine the metadata in the events.

[2018-12-14 23:56] kokokenada opened #140 "EVENT_UPLOAD_COMPLETE emitted before file is ready to be read using GCS"
In the event handler EVENT_UPLOAD_COMPLETE, I needed to add a sleep in order ro reliable read the GCS file that was just created.  GCS itself promises to be strongly globally consistent in "Read-after-write" https://cloud.google.com/storage/docs/consistency

[2018-12-19 21:35] chrisdostert commented on #71
FWIW, https://github.com/tus/tus-node-server/blob/master/lib/stores/GCSDataStore.js#L151 is definitely wrong as pointed out by @nfriedly ; new offset needs to account for existing offset, not start at 0. Currently upload of single chunk works but not upload of multiple chunks.

[2018-12-20 01:57] Acconut commented on #140
Thank you for reporting this. It should be fixed in https://github.com/tus/tus-node-server/commit/e0bbd6a5c80ce7293fdc3b80bbe2e1c2c3446f84. Would you be able to pull tus-node-server from master and confirm this?

[2018-12-20 01:57] #140 closed

[2018-12-20 01:58] Acconut commented on #53
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2018-12-20 01:58] #53 closed

[2018-12-20 04:45] Acconut commented on #71
You are right, the current calculation of the new offset is incorrect. I adjust the calculation locally but that does not enable uploading of multiple chunks, unfortunately.

FYI, the GCSStore is currently using simple uploads (see https://cloud.google.com/storage/docs/json_api/v1/how-tos/upload) but we would have to use multipart or resumable uploads to fully support the tus protocol. I wasn't aw

[2018-12-29 21:37] kokokenada commented on #140
@Acconut - I've just given it a try and it seems to be working better now.  I removed the pauses and my defensive retries didn't get invoked.

[2019-01-08 14:09] samanmohamadi opened #142 "add custom header"
How to add a custom header (for example 'X-Intent') to 'Access-Control-Allowed-Headers'?
Can I achieve this without writing a custom handler?

[2019-01-13 22:16] Acconut commented on #142
Unfortunately, there are currently no ways to set custom values for the CORS headers directly. You would have to use a proxy or add a corresponding middeware to your framework.

[2019-01-22 14:11] jsantos21 opened #143 "EPERM: operation not permitted, mkdir 'C:\Windows\system32\config\systemprofile\.config'"
Hello guys,

I am having problems trying implement tus node server in my application.
Everything looks good until I use this function:

`server.datastore = new tus.FileStore({
  path: "./files"
});`

When I declare it, the server gives this error:

Do you have any clue why that happens? A friend of mine, used it in Linux server and it worked fine, I am trying using it in a windows server.

Thanks

[2019-01-22 19:47] Acconut commented on #143
tus-node-server uses the configstore module (https://github.com/yeoman/configstore/tree/v3.1.2) internally which creates a file inside the user's home directory for storing temporary data.

I am no Windows expert but could it be that you were trying to invoke tus-node-server as an administrator? Maybe you are able to run your program as another user and see if that works.

Alternatively, you shoul

[2019-01-24 10:18] AlexanderKozhevin opened #144 "How to enable chunked upload for GCS ?"
Hello!

Sorry, I'm getting an error on client side.
[code]

I followed instructions on README.
POST request goes just fine.

[code]

[2019-01-27 22:15] Acconut commented on #144
This URL looks kind of strange to me. Are you sure it should not be http://localhost:8000/uploads/7a3601af10ef9276f2fb1be9d84ace29?

Also, just to be sure: Did you issue a POST request, which returned the URL http://localhost:8000/uploads.//7a3601af10ef9276f2fb1be9d84ace29, before issuing the PATCH request to http://localhost:8000/uploads.//7a3601af10ef9276f2fb1be9d84ace29? The POST endpoint is us

[2019-01-28 12:15] AlexanderKozhevin commented on #144
The code is fine. I guess tus and google cloud uses different protocols for chunked upload.

[code]

[2019-01-28 12:15] #144 closed

[2019-01-28 12:19] AlexanderKozhevin commented on #144
Upload-Offset conflict
[code]
Post request passed just fine
[code]

[2019-02-06 11:56] AlexanderKozhevin commented on #144
@Acconut I think it's not a problem, but just question of architecture.

[2019-02-07 19:59] Acconut commented on #144
I am sorry but I don't understand your question. Could you be more descriptive?

[2019-02-08 11:28] AlexanderKozhevin commented on #144
@Acconut It's not a question :)
I'm just thinking that's it's not possible in this project.

[2019-02-15 13:27] rockyhuber opened #145 "Extension on upload doesnt show"
Hi I have uploaded a file using reactjs and nodejs. Using the following code:

[code]

And for the reactjs component:
[code]
It uploads the file fine, however it doesn't upload the file with the adequate extension? I am new to tus and was using other modules before this. Where am I going wrong? I am using serverFile as there is already another server specified in the file elsewhere:
`const server

[2019-02-21 22:12] Acconut commented on #145
tus-node-server (and most other tus server) does not keep the keep the file extension. The reason is that you should not depend on the file extension as it might not be present or it might be completely wrong. Instead, you should attach the file type as metadata to your upload.

You are already doing this correctly on the client side (`metadata: { filetype: file.type }`). On the server side, you c

[2019-03-04 14:10] harrisgeorge202 commented on #131
ok

[2019-03-04 21:01] AlexanderKozhevin opened #147 "chunks goes to localhost:3000 even if I specify exact domain name"
I used nginx with https.
So all requests are getting redirected.

In tus js client I specified exact URL which refer to my domain.
But for some reason it make OPTION request to
[code]

Did anybody have had similar problems?

[2019-03-04 21:20] pdiveris commented on #147
Yes, well, sort of. In my case it is redirecting to the "internal" host name (rosa) as reported by /etc/hosts rather than the hostname specified in the config block. I had to contaminate uppy with an strreplace to resolve this for now but obviously that's not a solution. I tried to find out where/how it resolves the hostname bit I didn't succeed as yet (didn't spend much time I have to admit.)

[2019-03-04 21:32] AlexanderKozhevin commented on #147
I'm not 100% sure where the problem is coming from.
Looks like I need to debug the source code of library and test it in different way, like you did.

Maybe it gives wrong URL because I have server rendering with NUXT.js
Maybe not.

[2019-03-04 21:32] #147 closed

[2019-03-07 02:43] rockyhuber commented on #145
Thanks! Did this.

[2019-03-07 18:39] #145 closed

[2019-03-11 13:49] DvdGiessen commented on #139
Since this might interest others: I also wanted to use Tus with Azure in a Node project, so I went ahead and implemented basic support for it in `tus-node-server`. See https://github.com/DvdGiessen/tus-node-server/tree/azure-blob-store.

Note that this is a work-in-progress branch. It has no tests, it most probably has bugs, it has a few quite inefficient code paths, there is barely any code docum

[2019-03-16 17:38] Acconut commented on #139
That's amazing, @DvdGiessen! We would love to see a pull request from you for an Azure Blob Store. Let us know if we can help you.

[2019-04-17 12:06] jazkh opened #148 "Possible EventEmitter memory leak detected"
Hello,

I am using Uppy client and tus-node-server 0.3.2 at backend.

Whenever I try to upload 12 or 15 files together, I get this error in my node server.

How to solve this problem?

Thankyou in advance

[2019-04-17 12:32] kvz commented on #148
From https://github.com/transloadit/uppy/issues/1455

[2019-04-17 17:27] jazkh commented on #148
Hello kvz,

I am using EVENT_UPLOAD_COMPLETE event.
Do i have to put setmaxlisteners 0 at the begining or end within this event?

[2019-04-24 20:56] Acconut commented on #148
@jazkh I think you have to put this event before you are starting your server, outside of your event handler. However, this will just supress the warning instead of fixing the problem. It's not unlikely that there is a EventEmitter leak in tus-node-server but, unfortunately, don't have the resources to dig further into this. Any help would be appreciated!

[2019-04-25 18:10] SavePointSam opened #149 "TypeScript support"
I've been happily using this package for around a year now. Thanks! However, I have started using TypeScript and it appears there are no types available for this package. I do not personally have the time to generate them myself, but I did want to track that there is desire for types be it either directly from this package or from a set of types made available from DefinitelyTyped.

[2019-04-25 20:53] Acconut commented on #149
Thanks for the kind words! I agree that type definitions would be nice but we also currently don't have the resources for that. Maybe someone from the community could contribute that.

[2019-04-29 13:33] jazkh commented on #148
I have to close this issue because the problem was with the socket io which I was using within the tus node server event.

[2019-04-29 13:33] #148 closed

[2019-05-07 14:53] DJWassink opened #150 "Race condition saving files to S3"
When saving using tus-node-server with the S3 backend the meta data gets saved in a `.info` file its metadata.
This file also gets used to reply to a `HEAD` request which uppy uses to determine if an upload succeeded (which it does after a PATCH resulted in 502?). So there is a race condition where tus-node-server actually failed in saving the file (hence the 502) but the HEAD call returns that th

[2019-05-08 05:00] alexweltman commented on #145
@Acconut I am doing just this, however, S3 will set the content-type as application/octet-stream if the file has no extension. So, in the event handler for EVENT_UPLOAD_COMPLETE, I am using the file type I pass in the file metadata to set the S3 file content-type. But, S3 ONLY allows setting the content-type at the time of upload - it ignores subsequent update attempts to the content-type.

This m

[2019-05-08 07:51] DJWassink commented on #150
Instead of an extra call to to check if the file actually exists, instead maybe it would be a better idea to write to the `.info` file with a flag notifying that the upload is completely done? This could happend in the `_finishMultipartUpload` method:

https://github.com/tus/tus-node-server/blob/4b44018d1cb1cc7c0c5c770f96581ef28c3cf1d9/lib/stores/S3Store.js#L330-L350

[2019-05-08 09:49] DJWassink commented on #150
After some more debugging it seems like the there exists a case that the `_finishMultipartUpload` never gets called but the part is uploaded. Thus the meta data call will think that all parts are uploaded but the multipart upload never actually finished.

No idea how to fix this. For now I have made a clone of `tus-node-server` and also check if there is an ongoing multipart upload ongoing with th

[2019-05-09 23:33] alexweltman commented on #145
Ah, I see this isn't documented anywhere, but in your comments you mention that contentType in the metadata is applied to the file in s3. I tried that, and it worked.
https://github.com/tus/tus-node-server/blob/4b44018d1cb1cc7c0c5c770f96581ef28c3cf1d9/lib/stores/S3Store.js

[2019-05-10 06:13] Acconut commented on #145
@alexweltman Exactly, you can set the content type and filename using the metadata. Glad to read that you figured it out :+1:

[2019-05-10 06:27] Acconut commented on #150
As far as I know, tus-node-server has little protection against concurrent access which can result in these race conditions as you mentioned. I also don't know how to solve this but we're happy to accept a PR if you could supply one.

Alternatively, I would recommend you to consider using another tus server (such as the more mature https://github.com/tus/tusd) as we tus-node-server is in a bad sha

[2019-05-10 07:45] DJWassink commented on #150
Hey, thanks for pointing me to tusd, will certainly have another look at it (gotta sharpen my go skill haha).
Anyway the main issue is the 'Complete Multipart Upload' no being called correctly after an upload is done. I tried a few different options but couldn't solve it reliably. I hope I can get tusd running, cheers!

[2019-05-10 09:14] rictorres commented on #150
It's been a while since I last touched the S3 data store. I will try to have a look at it in the next few weeks so we can refactor it and add tests :)

[2019-07-19 16:22] bendiaz commented on #56
I have a similar issue with my VMware ubuntu 18.04 image. The command I'm using is
`sudo npm install --save @google-cloud/compute@0.7.1`
which doesn't install. When trying to kill an instance in node it always returns:
`Error: Cannot find module 'google-cloud/compute`

[2019-07-22 20:59] Acconut commented on #56
Are you able to figure out why `@google-cloud/compute` is not installed for you? I think that's the most straightforward way to solve the problem.

[2019-07-24 07:38] xpepermint commented on #150
Hey guys. When do you think this issue could be resolved?

[2019-07-25 11:30] Acconut commented on #150
@xpepermint Frankly, I am not sure if anyone is currently actively working on tus-node-server, so it's quite likely that no support is available from our side. Would it be possible for you to help?

[2019-07-25 11:32] xpepermint commented on #150
OK, thanks.

[2019-10-16 08:03] keery opened #151 "How to use uploaded files ?"
Hello,

I don't understand a point about uploaded files, in my context I upload images with uppy.
I achieve to upload them, but how to use them when they are uploaded because my files haven't extension.
Is there a given method already to retrieve files ?

Server
[code]

Client

[code]

If anyone can help me ? Thanks in advance

[2019-10-18 17:14] Acconut commented on #151
The files from tus uploads never have a file extension but you can use the upload's metadata to store the file's name. And then when the upload is finished you rename the binary file (whose name is the upload id) to the original filename with the extensions.

Yes, because you likely didn't implement a GET request handler since tus-node-server doesn't provide that. See https://github.com/tus/tus-no

[2019-11-04 20:57] shreykar opened #156 "Upload to s3 fails with error Unable to open."
Upload to server works but uploading to s3 fails with error:
 Failed because: Error: tus: unexpected response while uploading chunk, originated from request (response code: 422, response text: Unable to open s3://mybucket/myfile.log)

I tried different requests to confirm s3 credentials and access such as putObject and deleteObject and both worked.
Also tried files of different sizes from a few KB

[2019-11-04 21:00] #156 closed

[2019-11-05 17:07] Acconut commented on #156
The code you posted is in PHP, so I assume this is not related to tus-node-server which is written in Node.js, right?

[2019-11-11 10:02] Lyoko-Jeremie opened #158 "A Transform for this project to Typescript"
Ref to #64 #58  and #149

Hi, @Acconut , i explore all the internet and i fined this project Tus , i see this project are years of disrepair , but i need use nodejs as server and js/ts as client.
so i create a copy of this project and try to translate all of it into Typescript.

you can have a look on this: https://github.com/Lyoko-Jeremie/tus-node-server

the transform are doing in progress. the

[2019-11-11 10:32] Acconut commented on #158
Yes, this project has not been actively maintained in the past as we focus our efforts into tusd, the server implementation in Go. I am not sure if it's necessary to translate it to TypeScript since TS is able to read and use JavaScript files, as you probably know.

I am very amazed at how much effort you have already put into tus-node-server. However, I am not sure what you are trying to tell me

[2019-11-11 12:39] Lyoko-Jeremie commented on #158
@Acconut
i was researched the document of tusd, but i cannot find a way to communit with the tusd to do the things that  -- when a new connect coming, tusd quest the manager the client have promission, and wait the manager get the distributied file lock on redis, and flush the distributied lock ever minute druing file transmisson *(because in my real project case, the files are video file and most

[2019-11-14 21:08] Acconut commented on #158
Oh, that's totally possible. tusd has the hook system for that: https://github.com/tus/tusd/blob/master/docs/hooks.md

I don't agree here. Yes, TypeScript provides a lot of benefits (and I do like static typing, don't get me wrong). But it's also a big hurdle for new contributors to get started on this project. Besides knowing Node.js, one now must also understand how the TypeScript system works.

[2019-12-17 09:24] avillarubia opened #159 "Tried but failed"
Good day,

Some details:
node: v12.13.1

I tried to set up a file server but not luck
I've been through a lot of codes but always fail. I tried https://www.npmjs.com/package/tus-node-server but still no luck. I am looking for someone who can share a simple implementation.

This is my client on react js which successfully runs using the default endpoint: https://master.tus.io/files

[code]

Thank y

[2019-12-17 11:24] Acconut commented on #159
There is an example available at https://github.com/tus/tus-node-server/blob/master/demo/server.js. Did you try that one? Also, if you provide us with error messages we might be able to help you resolve them.

[2019-12-18 04:10] avillarubia commented on #159
@Acconut good day and thank you for the response. I tried that demo before but not working, I found out that I change the default 1080 to my desired port that makes it not working. I just use 1080 now and it is working after I deploy, but there is another problem,

- it renames the file to something like a hex (410f462c9461ba67d469bc50bd03fcfa) without file extension.
- it can't view the file thro

[2019-12-18 04:53] avillarubia commented on #159
@Acconut I guess I found the possible workaround

[code]

[2019-12-18 06:33] avillarubia commented on #25
sorry but req.filename is undefined

[2019-12-18 06:53] avillarubia opened #160 "make public for a file only and disable public folder"
Pardon that I should put this to question not issues. But, I didn't see the question section where I can post this.

what I want is to publicly view a single file like http://ip:port/files/uid
and
private when folder only http://ip:port/files/

Is this possible? Thank you for the answers

[2019-12-19 13:06] Acconut commented on #160
I am not sure what Node.js framework you are using, but it should usually provide you with tools to restrict access to certain URLs. For example, using Express you can add a route for `/files/` and simply denied access.

tus-node-server is not concerned about access control, so it does not have a special feature for that.

[2019-12-19 13:10] Acconut commented on #159
You also have to change the port in the client's endpoint. Did you do that?

That's expected, see https://github.com/tus/tus-node-server#custom-file-names and https://tus.io/faq.html#how-can-i-get-the-file-name-or-file-type-for-an-upload for a way to set custom file names.

[2019-12-20 16:25] avillarubia commented on #160
@Acconut thank you

[2019-12-20 16:25] #160 closed

[2019-12-20 16:28] avillarubia commented on #159
@Acconut yes both client and server works. Thank you for the links you provided, very well appreciated

[2019-12-20 16:28] #159 closed

[2019-12-22 16:05] Lyoko-Jeremie commented on #158
Sorry i don't think that.
Use ts can make more help when dev and the user don't need to care about it after ts compiled into a js lib.

After a typescript lib compile, it generate the .js file and .d.ts file. previous js user don't need to care about the .d.ts file , they can direct use the .js file like before . And in the same time, the user's IDE will auto read the .d.ts file to make intellisen

[2019-12-22 16:09] Lyoko-Jeremie commented on #158
now you can try this: https://github.com/Lyoko-Jeremie/tus-node-server

i think this is stable, and it can be published to npm.
only to follow or run the ```generate.bat``` file to compile the TS into js, and then publish it to npm.

[2019-12-29 13:26] Acconut commented on #158
Amazing work, thanks for sharing!

[2019-12-31 08:20] hchfly commented on #131
oh!   I resolved it。  upload it to server  and then upload it to s3,  No problem in 2 years

[2019-12-31 08:20] #131 closed

[2020-03-06 10:12] djsg opened #163 "super long delay of file uploading. How to debug?"
Hi,

I am experiencing unreasonably long delay in file uploading: 1.3M takes me 6 min.
Server side I used demo/server.js.
In client side, from Chrome console, I can see percentage info during progress.
Is it possible I log to stdout of similar info at server side? Which source file I should change to see that?

[2020-03-07 09:43] vladut3pg commented on #163
There are a lot of reasons why this could happen. I would start investigating the chrome network tab. Limit the parallel uploads, check the chuncks to be reasonable in size, etc.
As a direct response you could take advantage of the events fired by the server on line 94.

[2020-03-08 09:20] Acconut commented on #163
Good points, @vladut3pg!

Another important fact is what storage backend is used by @djsg (S3, GCS or disk)? If the connection to S3 is slow, tus-node-server's uploads will also be slow.

[2020-03-09 01:53] djsg commented on #163
storage is disk.
what I can see now is that meta-data exchange is very fast.

[2020-03-12 10:19] djsg commented on #163
I used "DEBUG=* node demo/server.js" to get the following debug message:
From line 6 to 7, there is a 5 minutes delay, which means . C

1.   tus-node-server Valid header name: tus-resumable, value: 1.0.0 +0ms
2.   tus-node-server Valid header name: upload-offset, value: 0 +1ms
3.   tus-node-server Valid header name: x-forwarded-for, value: 192.122.133.58 +0ms
4.   tus-node-server Valid header name

[2020-03-13 08:14] djsg commented on #163
I used command "DEBUG=* node  demo/server.js" to run tus-node-server;
I change some of the log functions by adding current time for each log message;
and I got the following
...
1.   tus-node-server [2:12:57 PM.142] Valid header name: tus-resumable, value: 1.0.0 +0ms
2.   tus-node-server [2:12:57 PM.142] Valid header name: upload-offset, value: 0 +0ms
3.   tus-node-server [2:12:57 PM.142] Valid he

[2020-03-16 20:27] Acconut commented on #163
I don't know much about the internals of tus-node-server to help you there. tus-node-server is writing to disk while it's receiving data, so both devices - network and disk - could be the bottleneck. Do you know that the network is fast enough and not throttling?

[2020-03-17 02:51] djsg commented on #163
@Acconut  Thanks for your response.
I suspect it is the network that are causing the issue. I just want to find out more information to confirm.

[2020-03-17 02:51] #163 closed

[2020-04-18 23:29] AndrewMeleka opened #167 "tried to make it available in Adonis.js but doesn't work"
here is my code it's create folder "files" but still cannot upload
any help ??
it is possible to do that ?

[code]

[2020-04-20 16:31] Acconut commented on #167
What's exactly the problem? Do you get an error message?

[2020-04-20 22:29] AndrewMeleka commented on #167
hey, thank you for reply,
here is the error

Failed because: Error: tus: invalid or missing Location header, originated from request (response code: 204, response text: )

can fix when i add in CORS.js
exposeHeaders: ["Location", "Upload-Offset"]

but still doesn't upload my file :(

[2020-04-23 09:35] Acconut commented on #167
What are you using as your endpoint URL? Should be something like localhost:8000/api/v1/uploads

[2020-04-30 12:13] AndrewMeleka commented on #167
After many of tries and some of tricks i fixed & now working fine with Adonis.js, thank you :)

[2020-04-30 12:13] #167 closed

[2020-04-30 14:24] kvz commented on #167
Please share your code snippets so that someone googling and finding this thread can save the time you spent fighting this! Good for karma :)

[2020-05-12 06:57] gajus opened #168 "Recommend express-tus as alternative to tus-node-server"
https://github.com/gajus/express-tus

[2020-05-15 16:01] Acconut commented on #168
Discussing this in https://github.com/tus/tus.io/issues/145

[2020-05-15 17:03] #168 closed

[2020-05-31 00:51] #127 closed

[2020-05-31 00:51] #126 closed

[2020-06-03 03:33] HassanIsCoding commented on #112
Any solutions ? I get the same error in asp.net when I Increase the file upload limit

[2020-07-21 06:40] #133 closed

[2020-09-07 19:18] pablote opened #170 "Unable to run behind a reverse proxy"
I'm trying to run, without success, the tus server as an express middleware, behind a reverse proxy hosted in a URL other than "/".

On the server side:
[code]

When I start an upload on the browser, it correctly creates it, but notice how `/uploads` has a prefix path. The server responds with an incorrect `location`, and the following PATCH request don't work well:

![image](https://user-images.g

[2020-09-08 08:26] Acconut commented on #170
Unfortunately, I cannot provide you steps to getting it working out of my head since I haven't used tus-node-server in a long time (I personally always recommend using tusd). However, maybe it helps you to look at the code responsible for extracting the ID from a URL: https://github.com/tus/tus-node-server/blob/e2c610a1abee30e7a120e2f3d9eedbafaa008260/lib/handlers/BaseHandler.js#L43-L51

[2020-09-19 16:42] littleboy1103 opened #172 "How to Upload to DigitalOcean spaces using S3Store?"
I want my files to uploaded to DigitalOcean spaces. But I couldn't perform the action with S3Store.

Is there any way to do this? like adding endpoint or something. I tried to add endpoint and it didn't worked for me.

Sorry, If  I'm asked it in a wrong place...

[2020-09-21 11:07] Acconut commented on #172
Options that are passed to the S3Store constructor are also passed to the AWS SDK (see https://github.com/tus/tus-node-server/blob/master/lib/stores/S3Store.js#L81). The AWS SDK usually has a setting to change the endpoint, so you should be able to set it up for DigitalOcean Spaces. Hope that helps :)

[2020-09-21 11:33] littleboy1103 commented on #172
When I tried to add this to constructor...
`endpoint: '{region}.digitaloceanspaces.com'`

It shows another error..
`UnhandledPromiseRejectionWarning: MissingRequiredParameter: Missing required key 'UploadId' in params`

[2020-09-21 11:37] Acconut commented on #172
That should not happen but I don't really know what the reason is. Maybe you can investigate on your own since I don't really have time available for this right now.

[2020-09-21 11:41] littleboy1103 commented on #172
Okay, Thanks for the reply...

[2020-09-21 11:41] #172 closed

[2020-09-26 07:25] mhf-ir opened #174 "Update dependency / Project status"
Seems project not maintain well. libraries require upgrade also node.js version

https://github.com/tus/tus-node-server/pull/173

Is there any contributer/owner ?

[2020-09-28 08:39] Acconut commented on #174
As the README says, we currently do not have enough resources to maintain tus-node-server properly:

If you would be willing to help, I can offer you assistance!

[2020-09-28 08:50] mhf-ir commented on #174
Ok let me try for solve errors on s3 and gcs

[2020-09-28 08:53] Acconut commented on #174
Amazing! Let me know if you have any questions!

[2020-10-04 07:41] mhf-ir commented on #174
Unfortunately I can't access to GCS , Seems to google ban Iranian developers as well.
Amazon S3 story is same.

Their just following orders: https://en.wikipedia.org/wiki/Superior_orders

After asking my friend to give me those demo account i will try to fix those vendor library/test cases.

[2020-10-10 16:51] Acconut commented on #174
I am sorry to hear that you are running into these problems. Feel free to open a PR with your existing changes and I can see if the tests pass or not. I know some tests have already failed in the past, so a failing test suite might not be caused by you :)

[2020-12-01 14:22] doomedramen commented on #170
Did you ever get this working?

[2020-12-01 15:39] pablote commented on #170
I didn't go any further than a POC for this. But I did got it working by changing this line:

https://github.com/tus/tus-node-server/blob/master/lib/handlers/PostHandler.js#L19

with:

`const url = this.store.relativeLocation ? `files/${File.id}` : `//${req.headers.host}${req.baseUrl || ''}${this.store.path}/${File.id}`;`

[2021-04-08 06:16] FaizalDwi opened #177 "file name changed after uploaded with uppy"
i am still new on this. i have problem with file name change like this "c5e9eefb981dc7c3ab9ddba8ac71909f" with no extension after uploaded. i use uppy as the client. i want the file still on the original name extension after uploaded. i already read and try the codes from this https://github.com/tus/tus-node-server/issues/63 and this https://github.com/tus/tus-node-server/issues/46 but still have

[2021-04-11 08:32] FaizalDwi commented on #63
hi, i tried those codes and i still get my filename "undefined" instead of the original name after uploaded. i use **Uppy tus** as front-end.
 this is my code from server.js

`
const fs = require('fs')
const path = require('path')
const tus = require('tus-node-server')

const server = new tus.Server()

const storageFolder = path.join(process.cwd(), '/uploads')

server.datastore = new tus.FileStore

[2021-05-04 10:54] Acconut commented on #63
@FaizalDwi I do not see any immediate error. What is the value of `event.file.upload_metadata`?

[2021-05-04 11:03] Acconut commented on #177
You mentioned that you already tried https://github.com/tus/tus-node-server/issues/63#issuecomment-271545649? What error did you encounter there? It should work correctly.

[2021-05-05 03:16] FaizalDwi commented on #63
it solved already. i changed into into 'name', instead of 'filename'
`server.on(tus.EVENTS.EVENT_UPLOAD_COMPLETE, (event) => {
  fs.rename(`${storageFolder}/${event.file.id}`, `${storageFolder}/${metadataStringToObject(event.file.upload_metadata).name}`)
})`

[2021-05-12 06:18] toinn-comartek opened #181 "How I can validate file type in server side before upload ?"
Is appreciated when someone can help me ? Thanks

[2021-05-12 10:25] ehsanshekariTalos opened #182 "How to connect two tus severs ?"
I want to upload a file with resume capability to Cloudflare. I cannot upload a file directly from the browser to Cloudflare because the credentials should not be visible. So, I have to use tus-node-server as an express middleware on the back-end.

I do not want to upload the file completely on my own server and after that start uploading the file to Cloudflare.  Is there a way to pipe the tus-nod

[2021-05-13 13:32] Acconut commented on #182
No, there is no such functionality to directly upload data to Cloudflare from tus-node-server. If you want to use tus-node-server, you would have to store the file somewhere before uploading it to Cloudflare.

That being said, I have seen people uploading from the browser to Cloudflare directly, so I would assume this to work without revealing secret credentials. However, I do not know more about

[2021-05-13 13:32] #182 closed

[2021-05-13 13:34] Acconut commented on #181
There is currently no such feature. You would have to use the EVENT_UPLOAD_COMPLETE event (https://github.com/tus/tus-node-server#events) after the upload is complete to validate the file.

[2021-05-13 13:34] #181 closed

[2021-05-27 21:42] mitjap commented on #170
Just use relative location and should work with uppy.

[2021-05-28 08:21] mitjap opened #184 "content-length header MUST NOT be sent for 1xx and 204 status codes"
As stated in RFC7320 (section-3.3.2) `content-header` MUST NOT be sent. At the momemt `content-length` header is sent in all responses.

https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2

   with a status code of 1xx (Informational) or 204 (No Content).  A
   server MUST NOT send a Content-Length header field in any 2xx
   (Successful) response to a CONNECT request (Section 4.3.6 of
   [

[2021-05-28 20:48] mitjap commented on #36
What would be the best solution for this? Same issues is with any datastore that has metadata embedded. Should we also implement some kind of metadata store? For example I image redis could be faster metadata store that reading from GCS object, or maybe even in-memory if persistence is not a requirement.

[2021-06-07 22:13] Acconut commented on #36
I don't think a solution is really needed. The tus specification does not require a 410 to be returned but allows servers to do so if they somehow know that such an upload existed earlier. Implementing a separate meta data store just for this purpose seems superfluous to me.

[2021-06-07 22:14] Acconut commented on #184
I was not aware of this fact. But if it's in the HTTP spec, let's try to follow it. Would you mind opening a PR for this? :)

[2021-06-09 12:46] hingston commented on #174
Has there been any progress on this?

I need to update axios because of [CVE-2020-28168](https://github.com/advisories/GHSA-4w2v-q235-vp99). When I try to update I get:

[code]

[2021-06-09 13:35] Acconut commented on #174
There has been no progress so far with updating the dependencies. Feel free to open a PR if you are interested in helping :)

[2021-06-09 15:49] #37 closed

[2021-06-09 15:54] mitjap commented on #36
I agree with @Acconut. Closing this issue as it does not need a fix.

[2021-06-09 15:54] #36 closed

[2021-06-09 22:20] Acconut commented on #36
Agreed!

[2021-06-10 00:09] mitjap commented on #66
I'm closing this as Node 7.x is now end-of-life for quite some time

[2021-06-10 00:09] #66 closed

[2021-06-10 19:01] paulm17 opened #189 "Working with next-connect"
I've got this to work initially however, I'm totally stumped on how to get the tus directory serving for patch requests.

[code]

The issue here.  Is that next-connect sets up /api/upload to be able to listen to requests, but is unaware of tus and the /files endpoint.

I've tried different things, but cannot overcome this issue.

Any help appreciated.

Thanks

[2021-06-12 23:45] cekvenich2 opened #191 "11 high severity vulnerabilities"
Installing this via npm I get 11 high severity vulnerabilities warning in red.

[2021-06-13 21:22] mitjap commented on #191
I checked on current master and got 1 waning. Which version do you use?

Current published version (0.3.2) has lot more issues.

[2021-06-14 08:42] mitjap commented on #189
For tus to correctly construct url endpoint of new upload set `path` to same prefix you use with router. For filestore you should manually set directory where files should be stored with `directory` option.

Another issue with your code is that `next-connect` modifies `url` propery of incoming request. When tus receives request it's `url` is set to `/<upload_id>` instead of `/api/upload/<upload_id

[2021-06-16 15:05] paulm17 commented on #189
Thanks for taking the time to come up with an example.

[2021-06-16 15:05] #189 closed

[2021-06-17 08:12] mitjap commented on #137
I looked a bit more at S3 and how it works. The issue is that S3 requires length of buffer/stream for each part that is uploaded. Since that is not known in advance current implementation guesses some value and then passes that stream to S3 library for upload. S3 will only upload at most `length` bytes and no more. If there is not enough bytes then library waits for more data until eventually time

[2021-07-09 07:09] Acconut commented on #137
Yes, that sounds like a good approach and is the same one as tusd uses. The upload is split into multiple parts and each part is buffered in its own file, so it can be uploaded independently. It would be amazing if tus-node-server behaves similar.

[2021-07-09 07:52] mitjap commented on #137
Another issue is if the client parts (patches) are smaller than minimum allowed by S3 than we cant use this part. Solution is to buffer to files across multiple PATCH requests. Is this also how `tusd` works?

[2021-07-09 07:54] Acconut commented on #137
In early version of tusd, such a part would have been discarded and the client should try to upload a larger chunk in the next PATCH request.

Now, tusd stores these incomplete parts on S3 to not discard data. When a PATCH request begins, we first fetch this incomplete part and prepend it to the request body.

[2021-10-08 13:23] myrdrks opened #194 "Reupload existing files as new"
Is there a way to upload existing files (on the server) as new ones?
Or is there any event fired up if the file exists or anything like that?

[2021-10-09 18:35] mitjap commented on #194
Each upload is assignee unique ID. Server is not aware that file is already uploaded. If you need such functionality you need to implement it on client side. I know uppy has such feature that can also be disabled.

[2021-11-08 06:32] irvanherz opened #195 "False uploadUrl"
I'm using tus-js-client.
**https://development.interskill.id/backendv2/** is my API base base URL.
I don't really know what happened. But I got false upload URL from tus-node server.
![Screenshot from 2021-11-08 13-21-57](https://user-images.githubusercontent.com/12388998/140694346-99dfca59-a856-4af6-8462-0caeca2274c3.png)

[2021-11-08 22:27] irvanherz commented on #195
Yes, I am

[2021-11-09 06:43] irvanherz commented on #195
By the way, I'm trying to implement optional baseUrl options for the TusServer class. Can I submit PR for this?
https://github.com/irvanherz/tus-node-server/commit/40c37bd68af17daeffd7d60fe995881babdf1bfd

[2021-11-09 11:39] mitjap commented on #195
I am aware of this issue with reverse proxy. I'm thinking about implementing a URL generator parser that user could reimplement to fit their use case.

[2021-11-10 03:39] vicky-g opened #196 "Publishing updated version of tus-node-server"
hey! I noticed that you guys added a get handler in Server.js
https://github.com/tus/tus-node-server/blob/e4ddd89d87e7838827c5f3b3478f2c7c08c10d4a/lib/Server.js#L13

along with some newer updates to this repo. the latest published version (v0.3.2) do not have some of these commits. will there be a published update soon? thank you!

[2021-11-15 11:15] Acconut commented on #196
Thanks for letting us know! I just published https://github.com/tus/tus-node-server/releases/tag/v0.4.0 on NPM

[2021-11-15 11:15] #196 closed

[2021-12-25 12:43] rezaalimorady opened #198 "Tus-Resumable Required"
I get this error every where
Tus-Resumable Required

Any usage example or document?

[2021-12-27 19:04] Acconut commented on #198
Without more details we cannot help you. How does your setup look like?

[2022-01-24 09:30] #198 closed

[2022-01-24 09:37] #177 closed

[2022-01-24 09:38] Acconut commented on #174
We are getting a new maintainer on board, so the project will receive updates in the future :)

[2022-01-24 09:38] #174 closed

[2022-01-24 09:40] #151 closed

[2022-01-24 09:40] #143 closed

[2022-01-24 09:40] #142 closed

[2022-01-27 11:22] Murderlon commented on #52
Closing this as the question seems answered.

[2022-01-27 11:22] #52 closed

[2022-01-27 12:47] Murderlon commented on #149
Closing this as there are types currently and we plan to rewrite the project to TS to further solidify this.

[2022-01-27 12:47] #149 closed

[2022-01-27 12:48] Murderlon commented on #191
Fixes in a07d57c33e5afcd40d1567e387decfba77bec78b and ce40ac2d4ef5f4489bcf09da693036b8bb999aea

[2022-01-27 12:48] #191 closed

[2022-01-27 14:10] Murderlon commented on #170
@pablote @mitjap is this resolved or does this still require changes?

[2022-01-27 14:24] mitjap commented on #170
This still needs changes.

[2022-01-31 10:26] Murderlon commented on #56
The dependencies were recently updated to latest which very likely fixes this. If the issue persists, feel free to reopen.

[2022-01-31 10:26] #56 closed

[2022-02-08 19:34] adrienfloor commented on #145
Hey @alexweltman
I'm currently trying to achieve what you're talking about here but I cant figure out where to put the content-type and how ...
Could you explain please ? It would help me a lot !
Thank you very much.

[2022-02-14 09:40] zhoushangdeng opened #201 "使用⬆️Error: Parse Error"

[2022-02-14 09:42] zhoushangdeng opened #202 "使用s3Store上传报错，Error: Parse Error"
这是我的代码，有时候断点续传走到 this.client.uploadPart 就卡住了，有时候正常，错误为就解析错误。我是在koa里使用的，我的版本"aws-sdk": "^2.4.1",
[code]

[2022-02-14 13:39] Acconut commented on #202
Please describe your problem in English :)

[2022-02-15 19:51] samal-rasmussen opened #204 "Publish Typescript types"
There is a lovely index.d.ts file in the repo root, but it isn't published with the npm package, which is a darn shame. Would sure be nice if it was published in the package.

[2022-02-16 20:20] Acconut commented on #201
Duplicate of https://github.com/tus/tus-node-server/issues/202

[2022-02-16 20:20] #201 closed

[2022-02-16 20:39] Acconut commented on #145
@adrienfloor You need to put the content type into the metadata, like this:

[code]

See https://github.com/tus/tus-node-server/blob/2f800162e8ea6e60682f0bc62b8fe5597dbc17a9/lib/stores/S3Store.js#L138

[2022-02-17 01:45] zhoushangdeng commented on #202
Error: Parse Error
      at socketOnEnd (node:_http_server:602:22)
      at Socket.emit (node:events:402:35)
      at Socket.emit (node:domain:475:12)
      at endReadableNT (node:internal/streams/readable:1343:12)
      at processTicksAndRejections (node:internal/process/task_queues:83:21)

[2022-02-17 01:46] zhoushangdeng commented on #202
Error: Parse Error
      at socketOnEnd (node:_http_server:602:22)
      at Socket.emit (node:events:402:35)
      at Socket.emit (node:domain:475:12)
      at endReadableNT (node:internal/streams/readable:1343:12)
      at processTicksAndRejections (node:internal/process/task_queues:83:21)

[2022-02-17 01:47] zhoushangdeng commented on #202
Breakpoint continuation sometimes reports this error

[2022-02-18 19:33] adrienfloor commented on #145
Awesome, thanks a lot @Acconut !

[2022-02-21 12:24] Acconut commented on #202
I am still not able to piece together the information from you. Please describe the issue in more detail, similar to how it is laid out in this questionnaire: https://github.com/tus/tusd/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2022-02-21 12:54] #204 closed

[2022-02-21 12:55] Acconut commented on #204
Thank you, should be addressed in v0.5.1.

[2022-03-01 07:28] #108 closed

[2022-03-01 07:29] Murderlon commented on #108
Hi, I updated the docs on the naming function, I think it's up to the implementer to create valid URL friendly names if they want custom names

[2022-03-27 16:37] corusm opened #212 "Add Hapi Integration"
Is it possible to add Hapi integration similar to [this](https://github.com/outmoded/discuss/issues/416)?
The Code doesn't seem to work anymore. any ideas how to fix?

[2022-03-28 05:28] Murderlon commented on #212
It's not officially supported and I haven't researched Hapi to know what is required for the integration. PRs welcome :)

[2022-04-13 00:54] thurinus opened #228 "S3StoreOptions update proposal"
Hi!

I had just updated from a pre-TS release, and it was complaining that I was specifying `region` for `S3StoreOptions` because it wasn't a known property according to the TS definitions. Looks like it's still used though, so I propose this change:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-04-13 19:33] thurinus commented on #228
PR opened!

[2022-04-13 19:33] #228 closed

[2022-04-22 04:00] deplorable commented on #212
@corusm It's bad practice, but I've forked `tus-node-server` into [`hapi-tus-node-server`](https://github.com/deplorable/hapi-tus-node-server), so anyone using Hapi can install `hapi-tus-node-server` and use it as a Hapi plugin. Feel free to give it a try if you like. Hat tip to everyone who posted in the thread [TUS Resumable Uploads](https://github.com/outmoded/discuss/issues/416), and of course

[2022-05-03 19:04] mashpie opened #241 "TIP: use as fastify plugin (no middleware)"
Not an issue but a hint (maybe could be added to readme, but hey commit a PR for some words?)

simple mvp/poc looks like:

[code]

So if you wonder how to integrate tus support within fastify as plugin, this is a starting point. Keys are:

- tus uses raw nodejs `req` and `res` - so: use them for handler `(req.raw, res.raw)`
- fastify defaults to _limit_ handling application/json - so: extend to tu

[2022-05-04 08:58] Murderlon commented on #241
This is great, thanks! I'm currently (slowly) working towards 1.0.0 and part of that will be a readme rewrite. But we can already put this in 👍

[2022-05-04 12:35] leonardofs opened #242 "relativeLocation with wrong type definition"
in index.d.ts relativeLocation is typed as string, but in lib/stores/DataStore.js is used like boolean.

[2022-05-04 12:43] Murderlon commented on #241
@mashpie actually would you be able to make a PR for it and explain as much as possible? For instance why `addContentTypeParser` immediately calls `done` and how you integrated this into Fastify (this only shows the export).

[2022-05-04 12:48] #242 closed

[2022-05-04 14:35] mashpie commented on #241
@Murderlon ok, sure. Where would you expect a running example? As separate repo or within `/demo` or `/examples`?

For your question: `done()` is called as soon a request with that matching content-type is recieved. The effect is like "forward to next stage without modification". This is similar to express' `next()`. Out of the box fastify refuses requests with unknown content-types, that's why on

[2022-05-04 15:16] Murderlon commented on #241
I think just updating the README is enough!

---

Thanks for the explanations.

[2022-05-05 11:00] #241 closed

[2022-05-19 11:46] #137 closed

[2022-05-26 12:34] samal-rasmussen opened #246 "Add ability to configure configstore"
I made a pr (#206) to make it possible to just pass in your own implementation of configstore, but I was promised a different solution by @Murderlon instead, so I'm creating an issue for it and closing my pr.

[2022-05-27 01:23] tomgreco opened #247 "Unknown encoding: base64url with version 0.6.0"
Using tus-js-client on client side.
On the latest version I started getting this error on every patch request.

[code]

[2022-05-27 13:58] tomgreco commented on #247
Looks like base64url is not part of the version of node I am running.
The work around for this was to patch StreamSplitter.js

[code]

[2022-05-30 10:44] Murderlon commented on #247
Thanks for reporting. @tomgreco which version of Node are you running?

[2022-05-31 13:27] tomgreco commented on #247
Using `ts-node` version 9 @Murderlon

[2022-05-31 13:49] Murderlon commented on #247
`base64url` was a Node 15 feature (https://github.com/nodejs/node/pull/36952) but it was backported to Node 14. However, your version is a bit too old. It was backported to 14.18.0. Consider upgrading to that or ideally to latest LTS (16.15.0 at the time of writing).

I'm working towards tus-node-server@1.0.0 for which there will be official supported Node versions (`>14.18.0).

[2022-05-31 13:49] #247 closed

[2022-06-01 19:13] tomgreco commented on #247
@Murderlon fair enough. Looking forward to more updates :)

[2022-06-13 17:01] erikjwaxx opened #253 "[Feature Request] Modular store backends"
I'm currently in a situation where I'll be using only the tus-node-server `FileStore` backend; however, because tus-node-server is a single package, I must pull in the AWS v2 SDK (we're currently using v3 in our app code where we leverage AWS directly) and the gcloud storage API.

It Would Be Nice If™ the `S3Store` and `GCSDataStore` were packaged as separate modules, so that I could avoid the dep

[2022-06-13 17:03] erikjwaxx commented on #253
Nvm, closing as dupe of #61 and #69

[2022-06-17 08:29] aptranet opened #257 "Final file is 0kb"
Hello,

I am using the chunk uploading feature of TUS and when all the chunks are uploaded, it does a POST request with the Upload-Concat header containing "final;http://localhost:9000/upload/files/18f990f16e266777ac7e1cc5399cf6c3 ...", which is correct. However, the file generated is 0kb, is there something I am doing wrong?

In order for chunked uploads to work, I had to set manually the Upload-

[2022-06-19 09:47] Shooshte opened #258 "Access-Control-Allow-Credentials' header in the response is ''"
I am following along with the docs for setting up a standalone express server and ran into an issue. When I try to upload files from localhost using [uppy](https://uppy.io/docs/uppy/#uppy-use-plugin-opts) alongside [uppy-tus](https://uppy.io/docs/tus/l) I get the following error:

This is my server implementation:
[code]

This is my FE uppy implementation:
[code]

Can somebody help me out please,

[2022-06-19 17:28] mitjap commented on #258
I usually use 'cors' npm package for handling  CORS. If you go this route I think setting 'credentials: true' in configuration should help.

https://www.npmjs.com/package/cors#configuration-options

[2022-06-20 10:28] Murderlon commented on #257
Hi, could you provide your client and server-side code?

[2022-06-20 10:41] aptranet commented on #257
Hi @Murderlon,

Here is my client-side code that handles the upload:

[code]

and here is the server-side code that handles receiving the upload:

[code]

[2022-06-21 12:49] Murderlon commented on #257
Note that you shouldn't set `chunkSize` on the client unless you absolutely have no other choice. Setting it to a low chunk size, and thus using multiple connection, is inefficient. Does removing `chunkSize` for now fix it? I have to look deeper at this regardless.

[2022-06-21 14:13] aptranet commented on #257
The main reason I set chunk size is for the resumable uploads to work.. it does work without the chunk size set but it does not resume if for some reason it stops. Is there another way to accomplish resumable uploads with some server-side configuration?

[2022-06-21 14:25] Murderlon commented on #257
If you could create a PR with a failing test for this I can look at it sooner and do a release for it.

[2022-06-21 14:33] aptranet commented on #257
If I understand correctly, this is a separate server running, accepts uploads and it communicates with my node server via HTTP requests?

[2022-06-21 14:43] Murderlon commented on #257
It doesn't communicate with your node server. Depending on where you want your files to end up, you can for instance use [filestore](https://godoc.org/github.com/tus/tusd/pkg/filestore) for saving them to the disk of your tusd server, or the [s3store](https://godoc.org/github.com/tus/tusd/pkg/s3store) to save them to s3.

However, if you don't want to run a Go server, we can try to tackle this iss

[2022-06-21 15:46] aptranet commented on #257
I do not keep the files uploaded to my servers via tus, when all the chunks are uploaded, I want to upload the uploaded file to another server with a PUT request. This is why I need the tus server to communicate with my node server once the upload is done. Because the backend and the frontend code contains many authentication parts that is hard to strip out, what exactly do you need in the PR?

[2022-06-21 19:48] mitjap opened #259 "handling of partial uploads without concatenation extension"
How should a server handle partial uploads? At the moment none of the data stores implement this extension and client can upload parts with `Upload-Concat: partial` header present, just to be disappointed at the end when concatenation fails with `Upload-Concat: final; ....`.

Should server throw error already on partial upload when `Upload-Concat` header is present to make it more obvious that thi

[2022-06-21 22:49] mitjap opened #260 "termination extension"
FileStore does not properly report to client that 'termination' extension is supported as required by the protocol.

[2022-06-22 09:38] Murderlon commented on #259
I think it ties into your suggestion of not setting methods, like DELETE, if it isn't' supported. Although that would likely be a `405` (method not allowed), this would probably be a `501` (not implemented) with a helpful error message.

[2022-06-22 19:32] mitjap commented on #260
Closed by #261

[2022-06-22 19:32] #260 closed

[2022-06-22 19:39] mitjap commented on #259
I like the idea that extensions could be enabled/disabled with some configuration so you enable what you want. For that purpose I'd return `405` (method not allowed) if extension is not enabled or just not implemented.

[2022-06-23 07:24] Acconut commented on #259
I think for the Concatenation extension it would make sense to check for the presence of the Upload-Concat header. If it is present and the data store does not support concatenation, the server should error out. I think a 400 Bad Request or 501 Not Implemented is an appropriate response for this situation. We cannot satisfy the upload according to the request from the client, so an error is the co

[2022-06-24 04:11] irvanherz opened #263 "Please add upload validation feature"
I need a way to validate files and JWT tokens to know which user did the upload. Also, the upload process started only if it passes user-defined validation. Maybe it can be implemented as a kind of middleware, extensions, or something.
Its also important that tus events (EVENT_FILE_CREATED, EVENT_ENDPOINT_CREATED, EVENT_UPLOAD_COMPLETE) are extended with custom data based on that validation result

[2022-06-24 10:07] Murderlon commented on #263
For 1.0.0 of tus-node-server I want to align the events with [tusd](https://github.com/tus/tusd) and also introduce [blocking events](https://github.com/tus/tusd/blob/master/docs/hooks.md#blocking-hooks). This is what could be used for custom validation. It's on my todo list, so I'll close this for now. Feel free to continue the discussion.

[2022-06-24 10:07] #263 closed

[2022-06-24 10:47] #259 closed

[2022-07-17 00:51] mitjap commented on #258
@Shooshte did you solve this issue?

[2022-07-27 22:38] Acconut opened #273 "Release new patch version"
Since the last release (v0.7.0) there have been two fixes for the S3Store (see https://github.com/tus/tus-node-server/compare/v0.7.0...master). Would it be possible to release them soon as v0.7.1?

[2022-07-27 22:54] Acconut opened #274 "S3Store: Random NoSuchUpload errors"
A user of tus-node-server contacted me and described an issue they are having with tus-node-server in production: Some tus uploads randomly fail with a NoSuchUpload error when being resumed. Some more details:

- The way to reproduce this is to start uploading multiple files concurrently to tus-node-server (I believe they were using Uppy, but I am not 100% sure). Then pause all uploads. Then resum

[2022-07-29 06:55] abhi12299 commented on #258
You can manually add the 'Access-Control-Allow-Credentials' header in the OPTIONS request by using a middleware. In express, I'd do the following:
[code]

[2022-08-02 13:13] Murderlon commented on #273
I think we're close to merging #186, afterwards I'll create a release.

[2022-08-03 07:44] mitjap commented on #273
That would probably be 0.8.0 with breaking changes and possibly some new issues. I'd also recommend 0.7.1 with current changes.

[2022-08-03 08:57] Murderlon commented on #273
Closed in ba0a7bd

[2022-08-03 08:57] #273 closed

[2022-08-08 01:20] phillip-causing opened #281 "S3Store: Add other strategies on passing credentials when initializing a S3Store"
We are planning to use and run this library using AWS Fargate.
In AWS there are multiple ways to pass a credentials to `aws-sdk`
https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/setting-credentials-node.html
Here is what we want
`4. Credentials loaded from the ECS credentials provider (if applicable)`

But the current implementation of the library is forcing us to provide the `acc

[2022-08-09 13:22] Murderlon commented on #281
Hi, I'm open to this idea. I see this should also automatically work as we pass all options into `new aws.S3()`. However, we should make sure we create proper TypeScript types that make sure that either `credentials` or `accessKeyId`/`secretAccessKey` are set.

[2022-08-09 13:22] Murderlon commented on #281
Are you willing to reopen your PR for this with the added types?

[2022-08-10 00:47] phillip-causing commented on #281
Here's the new [PR](https://github.com/tus/tus-node-server/pull/282/files)

[2022-09-01 13:41] Tronikelis opened #290 "Peer dependencies"
Hello,
Awesome library btw and a quick question, why are these packages: `@google-cloud/storage` and `aws-sdk` not "peerDependencies" ?
If those packages are optional, then I think installing them is just extra bloat in the node_modules and wasted bandwith.
With peer dependencies you need to install the packages listed above manually in your own project's package.json, so you install only what you

[2022-09-01 13:46] Murderlon commented on #69
Closing indeed as a duplicate of #61

[2022-09-01 13:46] #69 closed

[2022-09-01 13:47] Murderlon commented on #290
Hi! I think the better alternative to achieve the same is pulling out the stores as separate packages: #61. Work on tus-node-server 1.0.0 will start soon, which we'll likely include this. Closing this but feel free to continue the discussion here.

[2022-09-01 13:47] #290 closed

[2022-09-02 11:43] patilanz opened #291 "Error Unknown encoding: base64url"
I'm using uppy in the client side to upload files. Everyting works great with  tus.FileStore but when i use S3Store it throws this error:

`Something went wrong with that request
Unknown encoding: base64url`

I tried standalone server and express, same result.

[code]

[2022-09-02 12:55] Murderlon commented on #291
Hi, you're node version is not recent enough. See: https://github.com/tus/tus-node-server/issues/247

[2022-09-02 12:55] #291 closed

[2022-09-02 13:20] patilanz commented on #291
Fixed thank you !

[2022-09-05 10:53] piranna opened #292 "Bytes range in GET requests"
When GETting a file, it's being fully returned. What I need is to get bytes ranges of the uploaded file, also before it's fully uploaded (i don't know size in advance). Are both things (get bytes ranges, and downloads before being fully uploaded) forbiden by TUS protocol, or are they missing features of this implementation? Would you accept a PR accepting both features?

[2022-09-05 16:44] Acconut commented on #292
Both are neither forbidden nor required by tus. tus does not make any specification regarding GET requests. So tus-node-server is not offering these ATM.

That's best answered by @Murderlon :)

[2022-09-05 18:37] piranna commented on #292
I have read some other issues (in particular in `tusd` repo) and this seems to be the case, that since TUS protocol is just only for uploads, it doesn't care at all for downloads, so yes, lack of both features is just an implementation detail, and nothing forbid adding them, or not, or doing it in a custom `GET` handler. I'm going to try this option first while getting an answer from @Murderlon :-

[2022-09-07 11:57] piranna commented on #292
I've look about adding a custom GET handler to don't need to patch source Code, and it's not possible, since paths and handlers are stored in a Map object, and I would need It to have support for path identifiers. How can I add support for It easily?

[2022-09-08 11:24] Murderlon commented on #292
Hi, just for my understanding, you basically want to offset of a file in a GET request? Does something like this (pseudo code) work for you:

[code]

Although at this point you are basically recreating the already existing `HEAD` implementation, but perhaps you want additional things?

[2022-09-08 11:28] piranna commented on #292
Almost. It allows me to get the `:id` parameter can help me, since I can identify the file I'm trying to get. In the long run, what I want is to also get the `range` header and return a fragment of that file.

[2022-09-08 11:41] Murderlon commented on #292
I see. If you are using filestore, I think this could be straightforward by doing a `fs.readFile` call for the `id` in the upload folder. Unfortunately, `getOffset` returns different things depending on the store. Consistency there is something I'll tackle for the 1.0.0 version. The S3 store does also return all the `parts` that are already uploaded, so technically that is the "fragment of that fi

[2022-09-08 11:44] piranna commented on #292
Mostly yes, you just only need to provide the offset and length, fetch from the `range` header, and later return a `Content-Range` header back.

[2022-09-08 11:45] Murderlon commented on #292
So what is still missing to make this work in a custom GET handler?

[2022-09-08 11:47] piranna commented on #292
To do it myself in a custom `GET` handler, and don't need to change the current behaviour for default handler (although I think it's the correct aproach...), I just only need to be able to have a `:fileId` parameter in the path, nothing else. I can take it from there.

[2022-09-19 09:01] mitjap opened #293 "GCS: insufficient access to check if bucket exists"
If access key does not have `storage.buckets.get` permission to check if the bucket exists an error is thrown.

I think Storage Object Admin (`roles/storage.objectAdmin`) role should be sufficient as it allows to create, read and write objects.
https://cloud.google.com/storage/docs/access-control/iam-ro

In such case I think the store should assume the bucket exists and continue with normal operat

[2022-09-19 10:34] #293 closed

[2022-09-19 13:19] wasymshykh commented on #246
Bumping this issue. I got into the problem with configstore path on vercel, it will be great to have implementing as proposed by @samal-rasmussen

[2022-09-20 02:45] joshmotion opened #295 "It is possible to specify a custom S3 path? (DigitalOcean Spaces)"
hey there, I'm wanting to use DigitalOcean spaces which supports uploading data via S3. Is it possible change the S3 destination endpoint to something other than GCP or AWS? It seems ``tus.S3Store`` is locked to AWS with no way to change the endpoint. Thanks.

[2022-09-20 15:55] mitjap commented on #295
All options passed to S3Store are passed to AWS S3 client constructor. Based on Digital Ocean example you need to pass `endpoint` parameter.

https://github.com/tus/tus-node-server/blob/e7669c7434645095b42b346886e41ad1c8ac4f79/lib/stores/S3Store.js#L53

This should work:
[code]

[2022-09-21 13:45] joshmotion commented on #295
thakns

[2022-09-21 13:45] #295 closed

[2022-09-24 10:32] manelio commented on #172
Old issue, but someone could find this interesting:

Digital Ocean sends the upload id information as `upload-id` instead `upload_id`, so the `_getMetadata` method of `S3Store` returns an empty upload id.

I wrote my own patched S3Store:

[code]

Is just one line and I *think* it's safe to be added to the repo.

[2022-09-26 13:28] Murderlon commented on #172
@manelio good find! Are you willing to make a PR for it?

[2022-09-26 13:50] manelio commented on #172
@Murderlon Sure! Done.

I'm not very used to GH pull requests and don't know if I've done it right.

[2022-09-26 14:50] #68 closed

[2022-09-26 14:50] #246 closed

[2022-09-30 20:27] mitjap opened #300 "GCS and S3 bucket inexistence handling"
I'm opening a discussion that started in #299  about bucket existence checking. GCSDataStore does this asynchronously in constructor which by definition can not be async and any proper handling would cause race condition. If there is any error with this check or bucket does not exists all thrown errors are unhandled and usually causes application to exit with error code (crash).
https://github.com

[2022-10-03 13:45] Murderlon commented on #300
I think it makes most sense to align with the S3 store here. During the initial POST it seems reasonable to find out at that time the bucket doesn't exist.

[2022-10-04 18:13] Murderlon opened #309 "Road to 1.0.0"
This is the mother issue for the road to 1.0.0, which marks the first semver stable release for tus-node-server.

Progress on this release happens on the `1.x` branch. From now on we should carefully land things in `master`, as merge conflicts between the same `.js` and `.ts` files are hard to resolve. Ideally we only work on `1.x` now, except for critical bugs.

## Planned

- [x] #158 + new moder

[2022-10-04 20:19] mitjap commented on #300
`POST` is optional extension and might not be used.

I recommend testing at startup and save result as a promise which is always evaluated on every request. If initial test failed, all subsequest requests will fail. Another option is to just ignore this check (we can still print a warning to logs) and let it error on later requests. For example GCS reports that IAM does not have sufficient access

[2022-10-04 20:27] Murderlon commented on #300
I mean the initial POST _to S3_ not to the tus server, which is how it currently works for the S3 store, and apply that to GCS too. The way I see it, is that setting up a bucket is a prerequisite and we don't have to go too fancy.

[2022-10-04 21:31] Acconut commented on #309
This roadmap looks good to me! Do you need any specific help from my side as I am assigned as well?

[2022-10-05 00:21] Murderlon commented on #309
No I just added you for feedback and occasional questions/support :)

[2022-10-05 20:16] mitjap commented on #309
Since we want to make as many breaking changes now rather than later, should we also extract datastores to separate packages for 1.x? (https://github.com/tus/tus-node-server/issues/61)

[2022-10-05 20:33] Murderlon commented on #309
Yes, I was thinking about that as well but forgot to add it! Just not sure how to do package publishing. Scoped would be cleanest: `@tus/server`, `@tus/s3-store`, etc (`tus-js-client` -> `@tus/client` would also be nice). But that means `tus-node-server` becomes a ghost package and people would have to manually switch, of which many people likely won't even know.

The alternative is pre- or suffix

[2022-10-08 18:17] mitjap commented on #309
Is it too much work to have two packages for some (limited) time, one of which would be deprecated?

[2022-10-10 14:39] Murderlon commented on #309
It's not that it is too much work but this major version would be the moment to switch. Because people would have to check what happened in the breaking change and find out that stores are now separate install and while they're add it they might ass well reinstall the server. It would be less obvious to suddenly stop updating a deprecated package in a non-major, and waiting till 2.0.0 is a bit of

[2022-10-12 16:09] habibErfani opened #312 "Amazon S3"
Hello,

Hope you are going well.

I wanted to know if it’s possible to use an S3 that is not on Amazon with this code. For exemple Scaleway.

Waiting for your response,

Sincerely,

[2022-10-12 16:46] Murderlon commented on #312
Hi, as long as it's S3-compatible it should work, such as for Digital Ocean Spaces: https://github.com/tus/tus-node-server/issues/295.

[2022-10-12 16:46] #312 closed

[2022-10-12 16:55] habibErfani commented on #312
Thank you very much,

[2022-10-12 17:24] mitjap commented on #312
I use it with scaleway and it works.

[2022-10-25 18:30] Murderlon opened #319 "Pass datastore in the constructor instead of with a getter/setter"
Currently we set a datastore like this:

[code]

But I don't see why it shouldn't be:

[code]

This takes away the risk that you are trying to do anything without having set a datastore first, as we can throw an error the constructor already and make the types easier.

[2022-10-26 18:34] Murderlon opened #321 "Save the offset in the File model and datastores instead of size"
I've always found it a bit confusing to have both `upload_length` and `size`. AFAIK if we save the `offset` instead of the `size` we can still do the same safety checks we use the `size` for.

It is currently used in these places:

https://github.com/tus/tus-node-server/blob/a714b3f60de1027cd635d7713d10c81675adc49b/lib/handlers/GetHandler.ts#L43-L48

https://github.com/tus/tus-node-server/blob/a71

[2022-10-28 06:47] mitjap commented on #321
I don't fully understand what it is you are proposing here. Do you want to rename `size` to `offset`?

[2022-10-29 21:03] Acconut commented on #321
I am also a bit confused as @mitjap. But I am on board if it is about renaming the `size` property while keeping `upload_length`.

[2022-10-31 12:11] Murderlon commented on #321
Excusez-moi, I was looking at both tusd and tus-node codebases at once and saw a different pattern, but the same things happen, only the naming is different. Ignore this.

[2022-10-31 12:11] #321 closed

[2022-11-06 16:18] BlakeB415 opened #330 "Max upload size limit"
A server-side max file upload size to prevent abuse of the endpoint as well as sending the Tus-Max-Size header to the client.
Also possibly a way to set the max size on each upload session?

[2022-11-07 12:31] Murderlon commented on #330
There is already a pull request on the way for this: #310

[2022-11-08 20:11] jaime-rivas commented on #139
Hi there! @Acconut @DvdGiessen. We are planning to migrate our uploads to tus (great project!) and I am wondering if there any updates on Azure integration. I saw that tusd added support in August 2021. Any chance that it has been added / planned to be added here to the node server too? Thanks!

[2022-11-08 21:08] Murderlon commented on #139
We are currently working towards 1.0.0 for tus-node-server (https://github.com/tus/tus-node-server/issues/309) but Azure is not on the list. I don't expect any implementation to be in here soon. If your project is time critical, I would recommend tusd instead.

[2022-11-08 22:02] jaime-rivas commented on #139
Thanks @Murderlon. Best wishes for the 1.0.0 release!

[2022-11-14 21:10] AbdulmueezEmiola opened #333 "Events not triggering"
Whenever I upload the same file a second time, server-side events are not triggering. How do I avoid this?

[2022-11-14 21:50] #333 closed

[2022-11-15 06:12] rezasafaei70 opened #334 "endpoint url"
Where and how should I enter the endpoint?
endpoint=https://s3.Ar................
[code]

[2022-11-16 18:07] Murderlon commented on #334
It's not required for it to work but all options are passed to the `aws.S3` directly so you can pass it. This should be better reflected in the docs and types. Thanks for the reminder. Will do it for #309

[2022-11-16 18:07] #334 closed

[2022-11-17 19:32] Murderlon commented on #300
AFAIK this check doesn't explicitly exist in tusd, it just fails the creating request to S3 for instance. Do we really want to separate these failures? If you can't recover from it, and creating a bucket is a prerequisite, why do we need it?

[2022-11-17 20:04] Murderlon opened #336 "Rethink events"
We currently have four events: `EVENT_ENDPOINT_CREATED`, `EVENT_FILE_CREATED`, `EVENT_UPLOAD_COMPLETE`, `EVENT_FILE_DELETED`. They seem a bit inconsistent. I think it makes sense to align with other servers on this.

Both [tusd](https://github.com/tus/tusd/blob/master/docs/hooks.md#list-of-available-hooks) and [rustus](https://s3rius.github.io/rustus/hooks/) implement the following hooks/events:

[2022-11-18 17:06] Murderlon commented on #281
I can merge it and do a 0.x release

[2022-11-18 17:11] Murderlon commented on #281
Released: https://github.com/tus/tus-node-server/releases/tag/v0.9.0

[2022-11-18 17:21] terracota-p commented on #281
That was super fast, thank you!

[2022-11-22 14:21] Acconut commented on #336
I agree on that.

Yes, pre-create and pre-finish should probably not be an event, but rather a callback, so that tus-node-server waits for the return values. In tusd, the post-* hooks are implemented based on channels, which is equivalent to event emitters in this context:

https://github.com/tus/tusd/blob/88ad56af607bfa934d578936af7a5f4bbc47b84e/pkg/handler/unrouted_handler.go#L123-L150

But the

[2022-11-22 14:55] Acconut commented on #300
Yes, tusd does not check the existence of buckets. It is not because I am opposed to the idea, but that I have not seen it to be big problem for users, so it is not a high priority.

If you add such a check, I would recommend to just check one upon startup and not very every upload. That seems just like a wasted request for every upload to me. Instead of putting it inside the constructor, stores c

[2022-11-30 13:21] Murderlon opened #343 "Upgrade tus-js-client to 3.x and rewrite the demo"
`tus-js-client@3.0.0` removed the demo files from the publish so we need to rewrite the demo.